@model GratisForGratis.Models.RicercaViewModel
@{
    /**/

    Model.SetRicercaByCookie(Response.Cookies["filtro"]);
}
<h4 class="title advancedSearch">
    @((Response.Cookies["ricerca"]["IDCategoria"] == "1") ? string.Format(Language.TitleSearchGeneric, Model.NumeroRecordTrovati) : string.Format(Language.TitleSearch, Response.Cookies["ricerca"]["Categoria"], Model.NumeroRecordTrovati))
    <i class="fa fa-search" aria-hidden="true"></i>
</h4>
@using (Html.BeginForm("", "Cerca", FormMethod.Get, new { @class = "form-horizontal", id = "FormRicerca", role = "form" }))
{
    <div class="form-row">
        <div class="form-group col-md-12">
            @Html.AntiForgeryToken()
            @Html.ValidationMessage("Error", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-2">
            @Html.LabelFor(m => m.Cerca_TipoPagamento, Language.PaymentMethods, new { @class = "control-label" })
            @Html.EnumDropDownListFor(m => m.Cerca_TipoPagamento, Language.PaymentMethods, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Cerca_TipoPagamento, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-3 col-lg-2 slider punti">
            @Html.Label("LblSliderPunti", Language.Price, new { id = "lblPunti", @class = "lblRange control-label" })
            <div id="SliderPunti" class="range">
            </div>
            @Html.LabelFor(m => m.Cerca_PuntiMin)
            @Html.TextBoxFor(m => m.Cerca_PuntiMin, new { @class = "form-control number" })
            @Html.LabelFor(m => m.Cerca_PuntiMax)
            @Html.TextBoxFor(m => m.Cerca_PuntiMax, new { @class = "form-control number" })
        </div>

        <!-- SE AUTENTICATO -->
        @if (Request.IsAuthenticated)
        {
            <div class="form-group col-md-3 col-lg-2">
                @Html.CheckBoxFor(m => m.Cerca_NonPersonale, new { @class = "form-control" })
                @Html.LabelFor(m => m.Cerca_NonPersonale, new { @class = "control-label" })
                @Html.ValidationMessageFor(m => m.Cerca_NonPersonale, "", new { @class = "text-danger" })
            </div>
        }
    </div>
    if (!string.IsNullOrWhiteSpace(Model.NomeFiltro)) {
        <div class="form-row">
        @Html.Partial("Filtri/" + Model.NomeFiltro, Model)
        @Html.HiddenFor(m => m.Pagina)
        </div>
    }
}
@*Html.Partial("PartialPages/_NotFound")*@