<p id="alertNotFound">
    @Html.Raw(MessageForUser.SalvaRicerca)
</p>
<p id="searchNotFound">
    <a href="/Cerca/SaveRicerca" title="@Language.SearchSave">
        @Language.MexSearchSave
        <img src="@Url.Content("~/Images/icone/save.svg")" alt="@Language.SearchSave" />
    </a>
</p>
