@using GratisForGratis.Models.ExtensionMethods

@model GratisForGratis.Models.AnnuncioViewModel

@{ 
    GratisForGratis.Models.OggettoViewModel oggetto = null;
    if (Model.TipoAcquisto == GratisForGratis.Models.TipoAcquisto.Oggetto) {
        oggetto = (GratisForGratis.Models.OggettoViewModel)Model;
    }
}

@if (oggetto != null)
{
    <div id="@("Token" + oggetto.Token)" class="object">
        <div>
            <a class="openLink" href="/oggetto/@Html.Partial("PartialPages/_ParametriLink", oggetto.Nome)/@HttpUtility.UrlEncode(oggetto.Token)" title="@oggetto.Nome GRATIS">
                <h3 class="title">@oggetto.Nome</h3>
                <div class="left" style="background-image:url('@Url.Content("~/Uploads/Images/" + oggetto.Venditore.VenditoreToken + "/" + @oggetto.Foto.FirstOrDefault().DATA_INSERIMENTO.Year + "/" + "Normal/" + oggetto.Foto.FirstOrDefault().ALLEGATO.NOME)')">
                    @if (oggetto.StatoOggetto == GratisForGratis.Models.CondizioneOggetto.Nuovo)
                    {
                        <label class="lblBarter">@Language.New</label>
                    }
                    @if (oggetto.Punti.ParseFromHappyCoin() <= 0)
                    {
                        <label class="lblGift">@Language.Gift</label>
                    }
                </div>
                <div class="right">
                    <h5 class="category">
                        <a href="@Url.Action(oggetto.Categoria + "/" + oggetto.CategoriaID,"gratis")" title="@oggetto.Categoria">
                            <i class="fas fa-tag"></i>
                            <span class="evidence">@oggetto.Categoria</span>
                        </a>
                    </h5>
                    <h5 class="points">
                        <img class="glyphicon happyCoin" src="@Url.Content("~/Images/Icone/happyCoin.svg")" alt="@Language.Moneta" />
                        @oggetto.Punti <img class="infoTooltip infoTooltipAnnuncio" src="~/Images/icone/infoTooltip.svg" alt="info" title="Equivalgono a @oggetto.Soldi" />
                    </h5>
                    @if (oggetto.NomeCorriere != null)
                    {
                        <h5 class="shipment"><b>@Language.Shipment :</b> <span class="evidence">@oggetto.SoldiSpedizione</span></h5>
                    }
                    <h5 class="place">
                        <i class="fas fa-map-marker-alt"></i>
                        @oggetto.Citta
                    </h5>
                    <h5 class="seller">
                        <i class="fas fa-user-tie"></i>
                        <span class="evidence">
                            @Html.ActionLink((string.IsNullOrWhiteSpace(Model.Venditore.Nominativo) ? Model.Venditore.Email : Model.Venditore.Nominativo), "Profilo", (Model.Venditore.Tipo == GratisForGratis.Models.TipoVenditore.Attivita) ? "PortaleWeb" : "Utente", new { token = Model.Venditore.VenditoreToken }, null)
                        </span>
                    </h5>
                </div>
            </a>
            <div class="box desktop">
                @Html.Partial("PartialPages/_AdvAnnuncio")
            </div>
            <div class="footer">
                @Html.Partial("PartialPages/_Desidero", oggetto)
                @Html.Partial("PartialPages/_Possiedo", oggetto)
                <div class="feedback" title="@Language.FeedbackUser">
                    <i class="fas fa-percentage"></i>
                    @(oggetto.VenditoreFeedback > -1 ? string.Format(Language.FeedbackMessage, oggetto.VenditoreFeedback) : Language.FeedbackNothing)
                </div>
                @Html.Partial("PartialPages/_SuggerimentoAttivazioneAnnuncio", oggetto)
            </div>
        </div>
    </div>
}
