@using GratisForGratis.Models.ExtensionMethods

@model GratisForGratis.Models.AnnuncioViewModel

@{
    GratisForGratis.Models.ServizioViewModel servizio = null;
    if (Model.TipoAcquisto == GratisForGratis.Models.TipoAcquisto.Servizio)
    {
        servizio = (GratisForGratis.Models.ServizioViewModel)Model;
    }
}

@if (servizio != null)
{
    <div id="@("Token"+servizio.Token)" class="object">
        <div>
            <a class="openLink" href="/servizio/@HttpUtility.UrlEncode(servizio.Nome.Replace(" ","-") + "/" + servizio.Token)" title="@servizio.Nome GRATIS">
                <h3 class="title">@servizio.Nome</h3>
                <div class="left" style="background-image:url('@Url.Content("~/Uploads/Images/" + servizio.Venditore.VenditoreToken + "/" + @servizio.Foto.FirstOrDefault().DATA_INSERIMENTO.Year + "/" + "Normal/" + servizio.Foto.FirstOrDefault().ALLEGATO.NOME)')">
                    @if (servizio.Punti.ParseFromHappyCoin() <= 0)
                    {
                        <label class="lblGift">@Language.Gift</label>
                    }
                </div>
                <div class="right">
                    <h5 class="category">
                        <a href="@Url.Action(servizio.Categoria.Replace(" ","-") + "/" + servizio.CategoriaID,"gratis")" title="@servizio.Categoria">
                            <img class="glyphicon category" src="@Url.Content("~/Images/Icone/category.svg")" alt="@Language.Category" />
                            <span class="evidence">@servizio.Categoria</span>
                        </a>
                    </h5>
                    <h5 class="points">
                        <img class="glyphicon happyCoin" src="@Url.Content("~/Images/Icone/happyCoin.svg")" alt="@Language.Moneta" />
                        @servizio.Punti <img class="infoTooltip infoTooltipAnnuncio" src="~/Images/icone/infoTooltip.svg" alt="info" title="Equivalgono a @servizio.Soldi" />
                    </h5>
                    <h5 class="rate"><b>@Language.Rate :</b> @servizio.Tariffa</h5>
                    <h5 class="place">
                        <span class="glyphicon glyphicon-map-marker" aria-hidden="true" title="Language.Place"></span>
                        @servizio.Citta
                    </h5>
                    <h5 class="seller">
                        <b>@Language.Seller :</b>
                        <span class="evidence">
                            @Html.ActionLink((string.IsNullOrWhiteSpace(Model.Venditore.Nominativo) ? Model.Venditore.Email : Model.Venditore.Nominativo), "Profilo", (Model.Venditore.Tipo == GratisForGratis.Models.TipoVenditore.Attivita) ? "PortaleWeb" : "Utente", new { token = Model.Venditore.VenditoreToken }, null)
                        </span>
                    </h5>
                </div>
            </a>
            <div class="footer">
                @Html.Partial("PartialPages/_Desidero", servizio)
                @Html.Partial("PartialPages/_Possiedo", servizio)
                <div class="feedback" title="@Language.FeedbackUser">
                    @(servizio.VenditoreFeedback > -1 ? string.Format(Language.FeedbackMessage, servizio.VenditoreFeedback) : Language.FeedbackNothing)
                </div>
                @Html.Partial("PartialPages/_SuggerimentoAttivazioneAnnuncio", servizio)
            </div>
        </div>
    </div>
}
