@model GratisForGratis.Models.PubblicaServizioCopiaViewModel

@using (Html.BeginForm("", "", FormMethod.Post, new { enctype = "multipart/form-data", role = "form", id = "formCopiaServizio" }))
{
    <div class="form-row">
        <div class="form-group col-md-12">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.TokenOK)

            <h4 class="evidence">Vuoi metterlo in vendita anche te?</h4>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-10">
            @Html.LabelFor(m => m.NoteAggiuntive, new { @class = "control-label" })
            @Html.TextAreaFor(m => m.NoteAggiuntive, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.NoteAggiuntive, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-3">
            @Html.LabelFor(m => m.Soldi, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Soldi, new { @class = "form-control number" })
            @Html.ValidationMessageFor(m => m.Soldi, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-3">
            @Html.LabelFor(m => m.Foto, new { @class = "control-label" })
            @Html.TextBox("file", "", new { @class = "form-control", type = "file", data_url = "/Pubblicazione/UploadFotoOggetto", multiple = "" })
            <div id="progress">
                <div class="bar" style="width: 0%;"></div>
            </div>
            @Html.ValidationMessageFor(m => m.Foto, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-12">
            <div id="listaFileDaCopiare">
                <h4 class="title">Upload</h4>
            </div>
            @if (Model.Foto != null)
            {
                for (int i = 0; i < Model.Foto.Count; i++)
                {
                    @Html.HiddenFor(m => m.Foto[i], new { @class = "form-control", id = "Foto" + Model.Foto[i].Replace(".jpg", "").Replace(".jpeg", "") })
                    <div class="boxFoto uploadifive-queue-item2 copia" style="background-image:url('@Url.Content("~/Uploads/Images/" + Model.Venditore.VenditoreToken + "/" + @Model.DataInserimento.Value.Year + "/" + "Normal/" + Model.Foto[i])')">
                        <span class="chiudi" style="" onclick="rimuoviFotoDaCopia(encodeURI('@(Model.Foto[i])'), this);"></span>
                    </div>
                }
            }
            @Html.HiddenFor(m => m.TokenUploadFoto)
        </div>
        @if (Session["portaleweb"] != null)
        {
            <div class="form-group col-md-4">
                @Html.LabelFor(m => m.Partner, new { @class = "control-label" })
                @Html.DropDownList("Partner", new SelectList(
                    (Session["portaleweb"] as List<GratisForGratis.Models.PortaleWebViewModel>).Select(p => new SelectListItem()
                    {
                        Text = p.Nome,
                        Value = p.Token.ToString()
                    }), "Value", "Text", Model.Partner), Language.Private, new { @class = "form-control" }
                )
                @Html.ValidationMessageFor(m => m.Partner, "", new { @class = "text-danger" })
            </div>
        }

        <div class="form-group col-md-4">
            @Html.LabelFor(m => m.Citta, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Citta, new { @class = "form-control", data_autocomplete_url = "/Home/FindCitta", data_autocomplete_id = "IDCitta" })
            @Html.HiddenFor(m => m.IDCitta)
            @Html.ValidationMessageFor(m => m.IDCitta, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-4">
            @Html.LabelFor(m => m.DurataInserzione, new { @class = "control-label" })
            @Html.DropDownListFor(m => m.DurataInserzione, Model.ListaDurataInserzione, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.DurataInserzione, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12 footer">
            <div id="bottonePubblica" class="btn btn-success addOggetto" onclick="copiaAnnuncio('copiaServizio', this);">@Language.Save</div>
        </div>
        <div class="form-group col-md-12">
            <hr />
            @Html.ValidationMessage("Error", new { @class = "text-danger", id = "ErroreGenerico" })
            @Html.ValidationMessage("Errore", new { @class = "text-danger", id = "ErroreGenerico" })
        </div>
    </div>
}
