@model GratisForGratis.Models.ElencoPagine
<footer class="row">
    <div>
        @(Language.Page + " " + (Model.NumeroPagine < Model.PaginaAttuale ? 1 : Model.PaginaAttuale) + " " + Language.Of + " " + Model.NumeroPagine)
    </div>
    <ul class="pagination">
        @for (int i = Model.PaginaIniziale; i <= Model.NumeroPagine; i++)
        {
            string classe = "pagina";
            if (i == Model.PaginaAttuale)
            {
                classe = "active";
            }

            if (i == Model.PaginaIniziale)
            {
                if (i > 1)
                {
                    <li class="page-item">@Html.ActionLink("<<", Model.Action, Model.Controller, new { pagina = 1 }, new { @class = "page-link " + classe })</li>
                    <li class="page-item">@Html.ActionLink("<", Model.Action, Model.Controller, new { pagina = i - 1 }, new { @class = "page-link " + classe })</li>
                }
            }

            if (i <= (Model.PaginaAttuale + 4))
            {
                if (i == Model.PaginaAttuale)
                {
                    <li class="page-item @classe"><a class="page-link">@i</a></li>
                }
                else
                {
                    <li class="page-item @classe">@Html.ActionLink(i.ToString(), Model.Action, Model.Controller, new { pagina = i }, new { @class = "page-link " + classe }) </li>
                }
            }
            else
            {
                if (i < Model.NumeroPagine)
                {
                    <li class="page-item">@Html.ActionLink(">", Model.Action, Model.Controller, new { pagina = i + 1 }, new { @class = "page-link " + classe })</li>
                    <li class="page-item">@Html.ActionLink(">>", Model.Action, Model.Controller, new { pagina = Model.NumeroPagine }, new { @class = "page-link " + classe })</li>
                }
                break;
            }
        }
    </ul>
</footer>

