@using GratisForGratis.Models
@model AnnuncioViewModel

@if (Model.StatoVendita == StatoVendita.INATTIVO && (Session["utente"] as PersonaModel).Persona.STATO == (int)Stato.ATTIVO && (Session["utente"] as PersonaModel).Email.SingleOrDefault(m => m.TIPO == (int)TipoEmail.Registrazione && m.STATO == (int)Stato.ATTIVO) != null)
{
    <div class="cella noMandatory">
        <div class="btn enableSell">@Language.EnableAd</div>
    </div>
}

@if ((Model.StatoVendita == StatoVendita.SOSPESO && DateTime.Now > Model.DataModifica.Value.AddDays(1)) || (Model.StatoVendita == StatoVendita.ATTIVO && Model.DataFine <= DateTime.Now))
{
    <div class="cella noMandatory">
        <div class="btn unblock">@Language.Unblock</div>
    </div>
}
else
{
    if (Model.Offerta != null && Model.StatoVendita == StatoVendita.ATTIVO)
    {
        <div class="cella noMandatory">
            @Html.ActionLink(ViewModel.BidsAd, "OfferteRicevute", "Vendite", new { vendita = Model.Token }, new { @Class = "btn" })
        </div>
        <div class="cella noMandatory">
            <div class="btn deleteSell">@Language.DeleteSell</div>
        </div>
    }
    else if (Model.StatoVendita == StatoVendita.SOSPESO || Model.StatoVendita == StatoVendita.SOSPESOPEROFFERTA)
    {
        <div class="cella noMandatory">
            <div class="btn deleteSell">@Language.DeleteSell</div>
        </div>
    }
    else if (Model.StatoVendita == StatoVendita.BARATTATO || Model.StatoVendita == StatoVendita.VENDUTO)
    {
        <div class="cella">
            @Html.Label("Compratore")
            @if (Model.Compratore != null)
            {

                @Model.Compratore.Nominativo
            }
        </div>
        <div class="cella">
            @Html.Label("Data acquisto")
            @Model.DataVendita
        </div>
        <div class="cella">
            @Html.ActionLink(Language.Feedback, "Index", "Feedback", new { id = Model.Id, tipo = TipoFeedback.Venditore }, new { @Class = "btn" })
        </div>
    }
}
