@model GratisForGratis.Models.ListaOggetti

@section Styles {
    @Styles.Render("~/Content/home.css")
    @Styles.Render("~/Content/ricerca.css")
}
<aside id="ricerca">
    @{
        var modello = new GratisForGratis.Models.RicercaSportViewModel(Model.TotalNumber);
        modello.NomeFiltro = "Sport";
    }
    @Html.Partial("PartialPages/_Filtro", modello)
</aside>
<section id="page">
    <section id="home" class="container">
        @Html.Partial("Elenco/Sport", Model)
    </section>
</section>

@section Scripts {
    @Scripts.Render("~/Scripts/ricerca.js")
}