@model GratisForGratis.Models.PubblicaModelloViewModel

@Html.Partial("Oggetto", (Model!=null)?Model:new GratisForGratis.Models.PubblicaOggettoViewModel())
@Html.Hidden("ActionCategoria", "/Pubblica/Oggetto")
<div class="form-group">
    @Html.LabelFor(m => m.Modello, new { @class = "col-md-2 control-label" })
    <div class="field">
        @Html.TextBoxFor(m => m.Modello, new { @class = "form-control", data_autocomplete_url = "/Home/FindModello", data_autocomplete_id = "ModelloID", data_autocomplete_filtro_extra = "#MarcaID" })
        @Html.Hidden("ModelloID")
    </div>
    @Html.ValidationMessageFor(m => m.Modello, "", new { @class = "text-danger" })
</div>