@model GratisForGratis.Models.PubblicaVestitoViewModel

@Html.Partial("Oggetto", (Model != null) ? Model : new GratisForGratis.Models.PubblicaOggettoViewModel())
<div class="form-group col-md-3">
    @Html.LabelFor(m => m.Taglia, new { @class = "col-md-2 control-label" })
    @Html.TextBoxFor(m => m.Taglia, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Taglia, "", new { @class = "text-danger" })
</div>
@Html.Hidden("ActionCategoria", "/Pubblica/Vestito")