@model GratisForGratis.Models.PubblicaVestitoViewModel

@Html.Partial("Oggetto", (Model!=null)?Model:new GratisForGratis.Models.PubblicaOggettoViewModel())
@Html.Hidden("ActionCategoria", "/Pubblica/Vestito")
<div class="form-group">
    @Html.LabelFor(m => m.Taglia, new { @class = "col-md-2 control-label" })
    <div class="field">
        @Html.TextBoxFor(m => m.Taglia, new { @class = "form-control" })
    </div>
    @Html.ValidationMessageFor(m => m.Taglia, "", new { @class = "text-danger" })
</div>