@model GratisForGratis.Models.PubblicaTelefoniSmartphoneViewModel

@Html.Partial("Oggetto", (Model!=null)?Model:new GratisForGratis.Models.PubblicaOggettoViewModel())
@Html.Hidden("ActionCategoria", "/Pubblica/TelefoniSmartphone")
<div class="form-group col-md-3">
    @Html.LabelFor(m => m.Modello, new { @class = "col-md-2 control-label" })
    @Html.TextBoxFor(m => m.Modello, new { @class = "form-control", data_autocomplete_url = "/Home/FindModello", data_autocomplete_id = "ModelloID", data_autocomplete_filtro_extra = "#CategoriaMarca" })
    @Html.Hidden("CategoriaModello", -1)
    @Html.HiddenFor(m => m.ModelloID)
    @Html.ValidationMessageFor(m => m.Modello, "", new { @class = "text-danger" })
</div>
<div class="form-group col-md-3">
    @Html.LabelFor(m => m.SistemaOperativo, new { @class = "col-md-2 control-label" })
    @Html.TextBoxFor(m => m.SistemaOperativo, new { @class = "form-control", data_autocomplete_url = "/Home/FindSistemaOperativo", data_autocomplete_id = "SistemaOperativoID", data_autocomplete_filtro_extra = "#IDCategoria" })
    @Html.Hidden("SistemaOperativoID")
    @Html.ValidationMessageFor(m => m.SistemaOperativoID, "", new { @class = "text-danger" })
</div>