@Styles.Render("~/Content/seo.css")

<section id="head">
    <div class="content">
        <h1 id="title">Iscriviti, partecipa e vinci un buono Amazon da € 50</h1>
    </div>
</section>

<section id="pagina" class="content">
    <div class="container">
        <div class="row">
            <div id="presentazione" class="col-md-8 mr-5">
                <h2 class="title" style="text-align:center;">PUNTI FORTI</h2>
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-12">
                        <ul class="lista" style="text-align:center;">
                            <li>Spedizione integrata</li>
                            <li>Annunci gratuiti</li>
                            <li>Criptovaluta omaggio ogni giorno</li>
                        </ul>
                    </div>
                </div>
                <h2 class="title" style="text-align:center;">PARTECIPARE</h2>
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-12">
                        <div id="bando2019" class="card-deck">
                            <div id="bandreg" class="card">
                                <img class="card-img-top" src="~/Images/sezioni/registrati.jpg" alt="Registrati">
                                <div class="card-body">
                                    <h5 class="card-title"><a href="/utente/login">Registrati</a></h5>
                                    <p class="card-text">Fai la registrazione smart inserendo solamente e-mail e password.</p>
                                    <a href="/utente/login" class="btn btn-primary">Vai</a>
                                </div>
                            </div>
                            <div id="bandopubb" class="card">
                                <img class="card-img-top" src="~/Images/sezioni/pubblica.jpg" alt="Pubblica">
                                <div class="card-body">
                                    <h5 class="card-title"><a href="/pubblica">Pubblica</a></h5>
                                    <p class="card-text">Pubblica 4 annunci attendibili con un account per persona.</p>
                                    <a href="/pubblica" class="btn btn-primary">Vai</a>
                                </div>
                            </div>
                            <div id="bandoatt" class="card">
                                <img class="card-img-top" src="~/Images/sezioni/speranza4.jpg" alt="tempo">
                                <div class="card-body">
                                    <h5 class="card-title"><a href="/utente">Attendi</a></h5>
                                    <p class="card-text">
                                        Si potrà partecipare al concorso dal 01-11-2019 al 30-11-2019.
                                    </p>
                                    <a href="/utente" class="btn btn-primary">Vai</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h2 class="title" style="text-align:center;">DETTAGLI BANDO</h2>
                <div class="row align-items-start justify-content-center">
                    <div class="col-md-12 text-center">
                        <a href="~/Temp/Bando2019_Regolamento.pdf" target="_blank">
                            <i class="fas fa-file-download" style="font-size: 38px;"></i><br />
                            Scarica regolamento
                        </a>
                    </div>
                </div>
            </div>
            <aside id="linkRapidi" class="col-md-3">
                <h2 class="title">Link rapidi</h2>
                <ul class="lista">
                    <li>
                        @Html.ActionLink(ViewModel.BarterAsyncLink, "BarattoAsincrono", "Home")
                    </li>
                    <li>
                        @Html.ActionLink(ViewModel.BarterMultilateralLink, "BarattoMultilaterale", "Home")
                    </li>
                    <li>
                        @Html.ActionLink(ViewModel.BitCoin, "Bitcoin", "Home")
                    </li>
                    <li>
                        @Html.ActionLink(ViewModel.GiftLink, "Regalo", "Home")
                    </li>
                    <li>
                        @Html.ActionLink(ViewModel.SellGratisLink, "VenditaGratis", "Home")
                    </li>
                </ul>
                <a class="helper" href="@Url.Action("", "cerca")" title="@ViewBag.Title">
                    <img src="~/Images/stickers/tartaruga3.png" alt="@Language.Search" />
                </a>
            </aside>
        </div>
    </div>
</section>

