@Styles.Render("~/Content/seo.css")

<section id="head">
    <div class="content">
        <h1 id="title">@ViewBag.Title</h1>
    </div>
</section>

<section id="pagina" class="content">
    <div class="container">
        <div class="row">
            <div id="presentazione" class="col-md-8 mr-5">
                <h2>COME FUNZIONA</h2>
                <p>
                    Appena vedi un annuncio che t'interessa, apri l'annuncio e clicca sul pulsante "offerta".
                    In seguito decidi cosa proporre, happy-coin, oggetti o servizi oppure entrambi. Se lo scambio ha bisogno di
                    una spedizione puoi gestire anche quella.
                    Se il venditore trova l'offerta interessante può accettare l'offerta o in caso contrario la rifiuterà, inviando
                    a te la notifica con l'esito della sua decisione.
                    Il baratto proprio per come è impostato è asincrono, privato e può avvenire in maniera multilaterale.
                    <ul class="lista">
                        <li>Asincrono perchè deciso in momenti diversi dall'offerta fatta</li>
                        <li>Privato perchè nessuno a parte le due controparti conosce la contrattazione</li>
                        <li>Multilaterale perchè A può scambiare un oggetto con B e poi B può scambiarlo a sua volta con C</li>
                    </ul>
                </p>
            </div>
            <aside id="linkRapidi" class="col-md-3">
                <h2 class="title">Link rapidi</h2>
                <ul class="lista">
                    <li>
                        @Html.ActionLink(ViewModel.BarterLink, "Baratto", "Home")
                    </li>
                    <li>
                        @Html.ActionLink(ViewModel.BarterAsyncLink, "BarattoAsincrono", "Home")
                    </li>
                    <li>
                        @Html.ActionLink(ViewModel.BitCoin, "Bitcoin", "Home")
                    </li>
                    <li>
                        @Html.ActionLink(ViewModel.GiftLink, "Regalo", "Home")
                    </li>
                    <li>
                        @Html.ActionLink(ViewModel.SellGratisLink, "VenditaGratis", "Home")
                    </li>
                </ul>
                <a class="helper" href="@Url.Action("", "cerca")" title="@ViewBag.Title">
                    <img src="~/Images/stickers/tartaruga3.png" alt="@Language.Search" />
                </a>
            </aside>
        </div>
    </div>
</section>

