@Styles.Render("~/Content/seo.css")

<section id="head">
    <div class="content">
        <h1 id="title">@ViewBag.Title</h1>
    </div>
</section>

<section id="pagina" class="content">
    <div class="container">
        <div class="row">
            <div id="presentazione" class="col-md-6 mr-5">
                <h2>Criptovaluta cosa significa</h2>
                <p>
                    Il termine criptovaluta si compone di due parole: cripto e valuta. Vale a dire valuta criptata, celata. Infatti, si tratta di monete digitali, quindi, virtuali, criptate dietro ad un codice. Noto solo al sistema entro cui si realizzano: la Blockchain, di cui parleremo in seguito.
                </p>
                <h2>Criptovalute cosa sono</h2>
                <p>
                    Possono essere intese sia come vera e propria moneta (quindi valuta) per acquistare beni e servizi, che per convertire le valute tradizionali (le valute cosiddette FIAT, quindi dollari, euro, Yen, ecc.) sia come asset su cui investire tramite il trading sulle piattaforme online chiamate Broker.
                    Le criptovalute sono nate per rendere il sistema monetario decentralizzato, quindi non assoggettato a poteri centrali come i governi e le banche. A decidere sul loro destino devono essere pertanto gli stessi utenti che fanno parte del sistema, in maniera democratica, pesando tutti allo stesso modo.
                </p>
                <h2>Criptovalute caratteristiche</h2>
                <p>
                    Sistema decentralizzato: come appena detto, rispetto alle normali valute tradizionali, non esiste una banca centrale che si occupa di “stampare” il denaro, controllarne il flusso, e così via
                    Anonimato: molte criptovalute riescono a garantire un alto livello di anonimato negli scambi che avvengono tra utenti, anche per acquisti e vendite
                    Numero limitato: la maggior parte delle criptovalute ha un numero “limitato” di moneta che può essere “prodotta”. Per il Bitcoin ad esempio è di 21 milioni.
                    Sicurezza: le transazioni che avvengono con le criptovalute sono sicure al cento per cento, proprio in virtù del particolare network che utilizzano.
                    Solo online: le criptovalute sono monete digitali, quindi non hanno una natura fisica.
                </p>
                <h2>Criptovalute storia</h2>
                <p>
                    Qual è la storia delle criptovalute? Sebbene tutti ritengano che le criptovalute siano nate nel 2009, anno di lancio del Bitcoin per opera del misterioso Satoshi Nakamoto, in realtà la loro storia parte molto prima. Ovvero dagli anni ‘80. David Chaum ideò in quegli anni un algoritmo che rimarrà poi alla base dei metodi di crittografia moderni per internet. Esso consentiva lo scambio di informazioni tra due parti, in modo sicuro e senza che tali informazioni potessero essere alterate durante lo scambio.
                    David Chaum, dopo essersi trasferito nei Paesi Bassi, decise di fondare “DigiCash”, insieme ad un gruppo di appassionati di criptovalute. DigiCash si occupava di produrre proprio una criptovaluta, venduta poi a privati che potevano utilizzarla per effettuare scambi ed acquisti. Certo, tra DigiCash e le criptovalute di oggi esiste una differenza importante: la prima non era decentralizzata. Ovvero, DigiCash aveva il monopolio sulla criptovaluta: la produceva e la controllava, proprio come fa una banca centrale di tipo tradizionale.
                    Tuttavia, DigiCash non ebbe vita lunga. Le autorità finanziarie dei Paesi Bassi non videro di buon occhio il tentativo di DigiCash di creare una valuta alternativa a quella nazionale, spendibile sul web. DigiCash fu costretta a vendere la propria criptovaluta solo a banche ed istituti finanziari, e non più a singoli privati. Non a caso, fallì ad inizio anni ‘90. in realtà però, DigiCash fu anche complice del proprio truce destino: infatti, la società rifiutò un accordo con il colosso informatico Microsoft, che avrebbe voluto implementare la criptovaluta sui propri sistemi al fine di consentire ai propri utenti Windows di svolgere acquisti online. E ciò conferma quanto Microsoft ci veda lungo e investa in ciò che ritiene un alto potenziale futuro.
                    Dopo il fiasco di DigiCash, si dovrà attendere la fine del decennio per vedere una novitù importante in ambito di pagamento digitali. Come PayPal, che diventerà negli anni successivi società leader nel settore dei pagamenti digitali e trasferimento di denaro tra utenti. Tanto utilizzata da essere posta sotto la lente di ingrandimento del Fisco italiano e presa in considerazione anche per la dichiarazione dei redditi.
                    Alla fine degli anni ‘90, però, nacque anche “e-gold”, società con sede in Florida (USA), che si occupava di rivendere la propria criptovaluta. La società si occupava di comprare oro dagli utenti e in cambio non gli dava denaro tradizionale ma appunto la propria criptovaluta: l’e-gold. Gli utenti potevano così usare l’e-gold per:
                    Fare scambi con altri utenti
                    Comprare dell’oro vero
                    Rivendere i propri e-gold in cambio di dollari
                    L’idea fu presa molto bene, tanto che ad inizio 2000 e-gold aveva un grande seguito negli USA. Al punto da vantare milioni gli utenti attivi e gestire transazioni che ammontavano a miliardi di dollari all’anno. Tuttavia, anche per questo tentativo arrivò la fine. E-gold divenne ben presto un facile target per gli hacker. Molte erano infatti le truffe messe in atto tramite gli e-gold, soprattutto il phishing per rubare i dati di accesso agli account e-gold. Ossia il classico tentativo di adescare utenti via e-mail chiedendogli i dati del conto per una verifica. Oggi mitigato dalle caselle di posta col servizio Spam, ma qualcuna riesce ad arrivare ancora. E occorre pure aggiungere che all’epoca internet cominciava a diventare di massa, quindi in tanti erano alle primissime armi e si affacciavano su un mondo ignoto.
                    Inoltre, la piattaforma e-gold era facilmente penetrabile e i sistemi di sicurezza venivano spesso aggirati. Il che facilitava il compito dei truffatori. Tutto questo controbilanciò così l’idea innovativa alla sua base e non a caso, complice anche l’uscita di altri servizi online, nel 2005 l’attività di e-gold si erano ridotte drasticamente, e molti erano pure i dubbi riguardo alla legalità delle transazioni effettuate con questo sistema. Infatti, spesso gli e-gold venivano usati per mettere in atto truffe in stile Schema Ponzi, oppure per riciclare denaro. Un’accusa che peraltro oggi viene fatta pure alle moderne criptovalute. E così nel 2009 e-gold chiuse i battenti per sempre dopo una decina di anni di attività.
                    Paradossalmente però, proprio nel 2009 viene lanciata la criptovaluta del momento: il Bitcoin. Da un’idea di Satoshi Nakamoto, che aveva sviluppato una sua idea già resa nota l’anno precedente. Satoshi Nakamoto è in realtà uno pseudonimo, dietro cui si sono celati vari sospetti, ma per ora l’identità ufficiale resta un mistero. Ma ce ne occuperemo in un paragrafo a parte.
                    Satoshi Nakamoto voleva riuscire dove altri, come visto, avevano fallito: creare una moneta digitale parallela a quella tradizionale, che non sia manipolabile da poteri centrali.
                </p>
                <h2>Satoshi Nakamoto chi è</h2>
                <h2>Criptovalute come funzionano</h2>
                <p>
                    Le criptovalute non sono altro che delle voci all’interno di un database che non possono essere cambiate se non sotto specifiche condizioni. Esse si basano su un vero e proprio network di computer, che nel sistema delle criptovalute sono chiamati nodi. Ogni computer connesso al network per effettuare transazioni ha un registro di tutte le transazioni effettuate finora sulla rete. Ecco perché si parla di un sistema decentralizzato.
                    Una transazione contiene il codice del portafoglio del mittente, il codice del portafoglio del ricevente e l’importo traslato. Più la chiave privata dell’account di mittente. Questa transazione poi viene trasmessa all’interno del network, facendola girare tra tutti i computer. Affinché tutto il network la conosca, ma dovrà anche essere confermata.
                    Una volta confermata e concretizzatosi il passaggio di criptovalute tra due portafogli, la transazione non è più modificabile ed entra a far parte di questo registro delle transazioni: il cosiddetto “blockchain”. Compito di confermare le transazioni è dei “miner“, che mettono a disposizione della rete la potenza di calcolo dei propri computer.
                </p>
                <h2>Blockchain cos’è e come funzionamento</h2>
                <p>
                    La blockchain può essere considerata come un registro pubblico di tutte le transazioni avvenute con una determinata criptovaluta.
                    Copie identiche della blockchain sono salvate sui “nodi” del network, vale a dire i computer e server dei cosiddetti “miner”.
                    Durante il periodo di attesa per la conferma della transazioni, le somma di criptovaluta coinvolta viene “bloccata” finché la transazione non è confermata.
                    Il Blockchain si basa su chiavi private, grazie alle quali il sistema è crittografato. Così, ogni utente della rete ha una propria chiave privata identificativa, che gli consente di fare scambi con altri utenti.
                    Senza la chiave privata viene smarrita, le criptovalute collegate a tale chiave non possono essere né spese, né trasferite.
                </p>
                <h2>Wallet cos’è e come funziona</h2>
                <p>
                    Il wallet è un portafoglio virtuale e può essere salvato sul computer, sul cloud, un hard disk esterno. Non solo, esistono anche wallet online offerti da società che si occupano di tale servizio e fungono anche da exchange. Attenti però a quale exchange vi affidate.
                    Ecco alcuni esempi di wallet:
                    Wallet online: praticamente gli exchange, opzione comoda da praticare, ma non la più sicura per ragioni che vedremo di seguito
                    Wallet mobile: utilizzabili grazie ad app tramite tablet e smartphone
                    Desktop wallet: l’opzione più utilizzata, permette di avere un wallet sul proprio computer
                    Paper wallet: si tratta di un wallet stampato su carta grazie a 2 QR code. Un codice è per l’indirizzo pubblico del wallet (dove riceverai le criptovalute), l’altro codice è l’indirizzo privato (che puoi usare per spendere le criptovalute)
                    Hardware wallet: si può usare un hard disk esterno o una pennetta USB dove salvare il proprio wallet
                    Mining criptovalute cos’è e come funziona
                    I miner mettono a disposizione la potenza di calcolo dei propri computer e server per verificare e confermare le transazioni che avvengono con le criptovalute. I miner quindi aggiungono nuovi “blocchi” alla blockchain, dove in ogni blocco sono contenute nuove transazioni che così sono confermate. E questo, ciò che cioè fanno, è il mining. I miner sono quindi fondamentali per il funzionamento di una criptovaluta.
                </p>
                <h2>Come si usano le criptovalute?</h2>
                <p>
                    Come si usa una criptovaluta? Pur se virtuali, anche esse sono da considerarsi alla stregua delle valute tradizionali, quindi vengono usate per acquistare e vendere prodotti, software, servizi online. Ma anche per effettuare pagamenti tra privati o trasferimenti di denaro. Tuttavia, abbiamo detto all’inizio che le criptovalute possono anche essere considerate come un asset, proprio alla stregua di materie prime, indici azionari, azioni, metalli preziosi, Forex, ecc. Per sfruttarle in tal senso occorre fare trading online sui Broker.
                    Per scambiare e ottenere criptovalute esistono gli exchange, siti dove è possibile comprare e vendere differenti tipi di criptovalute oppure i forum ma entrambi non possono considerarsi affidabili. La cosa più sicura è farsi un wallet esterno proprio e farne delle copie di backup in caso di perdita del wallet stesso.
                </p>
                <h2>Criptovalute Exchange</h2>
                <p>
                    Quali sono i migliori Exchange di criptovalute? Eccoli di seguito:
                    Livecoin.net
                    Coinbase
                    Bittrex
                    Kraken
                    Changelly
                    Gemini
                    Cryptopia
                    Poloniex
                    Come fare trading criptovalute
                    Il trading di criptovalute può essere svolto tramite piattaforme online, definite Broker. Ma, come detto, occhio a quali utilizzate.
                    Oltre ad avere regolare licenza da parte della CONSOB, un Broker che si rispetti deve avere un Conto demo che consenta all’utente alle prime armi di fare pratica senza rischiare i propri soldi reali. Avere uno spread conveniente e zero commissioni. Un’ assistenza clienti in italiano e facilmente raggiungibile. Preveda una Leva finanziaria che consenta di moltiplicare i guadagni. Metta a disposizione del trader dei grafici che consentano di vedere chiaramente l’andamento storico degli asset. Che dia strumenti ai trader per formarsi continuamente ed aggiornarsi. Che informino gli utenti iscritti tramite News sui principali fatti che riguardano i mercati finanziari.
                </p>
                <h2>Criptovalute più importanti</h2>
                <p>
                    Bitcoin
                    Ethereum
                    Ethereum Classic
                    Litecoin
                    Ripple
                </p>

                <h2>NOTE PERSONALI</h2>
                <p>
                    Una criptovaluta (o crittovaluta o criptomoneta) è una valuta paritaria, decentralizzata e digitale la cui implementazione si basa sui principi della crittografia per convalidare le transazioni e la generazione di moneta in sé.
                    Esse utilizzano tecnologie di tipo peer-to-peer (p2p) su reti i cui nodi sono computer di utenti disseminati in tutto il globo.
                    Dopo l’avvento di questa moneta sono nate nel mondo tutta una serie di criptovalute, subito ribattezzate altcoin, che si differenziano per alcuni aspetti, e utilizzano un sistema differente dalla blockchain.
                    nel 2017, per esempio, lo stato del Nevada, Stati Uniti, ha approvato una legge per la completa liberalizzazione della blockchain[2].
                    La maggior parte delle criptomonete sono progettate per introdurre gradualmente nuove unità di valuta, ponendo un tetto massimo alla quantità di moneta che sarà in circolazione. Ciò viene fatto sia per imitare la scarsità (e il valore) dei metalli preziosi, sia per evitare l'iperinflazione.
                    Le transazioni effettuate con le criptomonete offrono un buon[4] livello di privacy, grazie alla caratteristica di pseudonimia degli utilizzatori.
                    Il livello di privacy varia a seconda del protocollo utilizzato, ed è totale per quelle criptovalute (quali Monero, Dash, Zcash) che utilizzano il sistema di validazione "zero knowledge", grazie al quale non viene scambiata nessuna informazione delle parti.
                </p>
                <h2>Struttura</h2>
                <p>
                    Una blockchain è un elenco di record in continua crescita, chiamati blocchi, che sono collegati e protetti usando la crittografia.[7] Ogni blocco contiene, in genere, un puntatore hash come collegamento a un blocco precedente,[7] un timestamp e dati sulle transazioni.
                    È "un registro aperto e distribuito che può registrare transazioni tra due parti in modo efficiente e in modo verificabile e permanente".[9] Per l'utilizzo come libro mastro distribuito, una blockchain viene generalmente gestita da una rete peer-to-peer che aderisce collettivamente a un protocolloper la convalida di nuovi blocchi.
                    Risolve il problema di doppia spesa senza la necessità di un'autorità attendibile o di un server centrale.
                </p>
            </div>
            <aside id="linkRapidi" class="col-md-3">
                <h2 class="title">Link rapidi</h2>
                <ul class="lista">
                    <li>
                        @Html.ActionLink(ViewModel.OnlineMoneyLink, "Criptovaluta", "Home")
                    </li>
                    <li>
                        @Html.ActionLink(ViewModel.EarnMoneyLink, "ComeGuadagnare", "Home")
                    </li>
                    <li>
                        @Html.ActionLink(ViewModel.CircularEconomy, "EconomiaCircolare", "Home")
                    </li>
                    <li>
                        @Html.ActionLink(ViewModel.GiftLink, "Regalo", "Home")
                    </li>
                    <li>
                        @Html.ActionLink(ViewModel.OnlineMoneyLink, "MonetaVirtuale", "Home")
                    </li>
                </ul>
            </aside>
        </div>
    </div>
</section>

