@Styles.Render("~/Content/seo.css")

<section id="head">
    <div class="content">
        <h1 id="title">@ViewBag.Title</h1>
    </div>
</section>

<section id="pagina" class="content">
    <div class="container">
        <div class="row">
            <div id="presentazione" class="col-md-6 mr-5">
                <h2 class="title">CIRCUITO CON FILOSOFIA DEL GRATUITO</h2>
                <p>
                    Altri servizi che aderiscono alla nostra filosofia del mondo...
                </p>
                <a class="box col-md-3" href="http://avvocatoclick.davidemilitano.net" target="_blank" title="Avvocato Click">
                    <div>
                        <img class="img-fluid img-thumbnail" src="http://avvocatoclick.davidemilitano.net/images/logo_AvvocatoClick.png" alt="Logo AvvocatoClick" />
                        <h4>
                            Avvocato Click
                        </h4>
                        <h4>
                            Servizi
                        </h4>
                    </div>
                </a>
                <a class="box col-md-3" href="http://freebanner.davidemilitano.net" target="_blank" title="Freebanner">
                    <div>
                        <img class="img-fluid img-thumbnail" src="http://freebanner.davidemilitano.net/images/logo.png" alt="Logo FreeBanner" />
                        <h4>
                            FreeBanner
                        </h4>
                        <h4>
                            Servizi
                        </h4>
                    </div>
                </a>
            </div>
            <aside id="linkRapidi" class="col-md-3">
                <h2 class="title">Link rapidi</h2>
                <ul class="lista">
                    <li>
                        @Html.ActionLink(ViewModel.TeamLink, "Team", "Home")
                    </li>
                    <li>
                        @Html.ActionLink(ViewModel.FundingLink, "Finanziamenti", "Home")
                    </li>
                    <li>
                        @Html.ActionLink(ViewModel.GiftLink, "Regalo", "Home")
                    </li>
                    <li>
                        @Html.ActionLink(ViewModel.PartnershipLink, "Partnership", "Home")
                    </li>
                    <li>
                        @Html.ActionLink(ViewModel.SellGratisLink, "VenditaGratis", "Home")
                    </li>
                </ul>
            </aside>
        </div>
    </div>
</section>

