@Styles.Render("~/Content/seo.css")

<section id="head">
    <div class="content">
        <h1 id="title">Come guadagnare happy-coin</h1>
    </div>
</section>

<section id="pagina" class="content">
    <div class="container">
        <div class="row">
            <div id="presentazione" class="col-md-8 mr-5">
                <h2 class="title">CONDIVISIONE</h2>
                <div class="card-deck">
                    <div class="card">
                        <img class="card-img-top" src="~/Images/sezioni/condividi.jpg" alt="@ViewModel.HomeUserJoinSocial">
                        <div class="card-body">
                            <h5 class="card-title">@Html.ActionLink(ViewModel.HomeUserJoinSocial, "Impostazioni", "Utente", null, new { @class = "link" })</h5>
                            <p class="card-text">@ViewModel.HomeUserJoinSocialInfo</p>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="~/Images/sezioni/pubblica.jpg" alt="@ViewModel.HomeUserPublishGood">
                        <div class="card-body">
                            <h5 class="card-title">@Html.ActionLink(ViewModel.HomeUserPublishGood, "", "Pubblica", null, new { @class = "link" })</h5>
                            <p class="card-text">@ViewModel.HomeUserPublishGoodInfo</p>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="~/Images/sezioni/servizi.jpg" alt="@ViewModel.HomeUserPublishService">
                        <div class="card-body">
                            <h5 class="card-title">@Html.ActionLink(ViewModel.HomeUserPublishService, "", "Pubblica", null, new { @class = "link" })</h5>
                            <p class="card-text">@ViewModel.HomeUserPublishServiceInfo</p>
                        </div>
                    </div>
                </div>
                <h2 class="title" style="margin-top:22px;">PARTECIPAZIONE</h2>
                <div class="card-deck">
                    <div class="card">
                        <img class="card-img-top" src="~/Images/sezioni/segnalazione.jpg" alt="@ViewModel.HomeUserSendBug">
                        <div class="card-body">
                            <h5 class="card-title"><a href="javascript:void(0);" onclick="$('#reporting').click();">@ViewModel.HomeUserSendBug</a></h5>
                            <p class="card-text">@ViewModel.HomeUserSendBugInfo</p>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="~/Images/sezioni/pieno.jpg" alt="@ViewModel.HomeUserFullAd">
                        <div class="card-body">
                            <h5 class="card-title">@Html.ActionLink(ViewModel.HomeUserFullAd, "", "Pubblica", null, new { @class = "link" })</h5>
                            <p class="card-text">@ViewModel.HomeUserFullAdInfo</p>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="~/Images/sezioni/feedback.jpg" alt="@ViewModel.HomeUserFeedback">
                        <div class="card-body">
                            <h5 class="card-title">@Html.ActionLink(ViewModel.HomeUserFeedback, "Concluse", "Vendite", null, new { @class = "link" })</h5>
                            <p class="card-text">@ViewModel.HomeUserFeedbackInfo</p>
                        </div>
                    </div>
                </div>
            </div>
            <aside id="linkRapidi" class="col-md-3">
                <h2 class="title">Link rapidi</h2>
                <ul class="lista">
                    <li>
                        @Html.ActionLink(ViewModel.OnlineMoneyLink, "Criptovaluta", "Home")
                    </li>
                    <li>
                        @Html.ActionLink(ViewModel.FundingLink, "Finanziamenti", "Home")
                    </li>
                    <li>
                        @Html.ActionLink(ViewModel.FreeCircuitLink, "CircuitoGratis", "Home")
                    </li>
                    <li>
                        @Html.ActionLink(ViewModel.HappyPeople, "HappyPeople", "Home")
                    </li>
                    <li>
                        @Html.ActionLink(ViewModel.BitCoin, "Bitcoin", "Home")
                    </li>
                </ul>
                <a class="helper" href="@Url.Action("", "cerca")" title="@ViewBag.Title">
                    <img src="~/Images/stickers/scimmia3.png" alt="@Language.Search" />
                </a>
            </aside>
        </div>
    </div>
</section>

