@model GratisForGratis.Models.ContattiViewModel

<section id="head">
    <div class="content">
        <h1 id="title">@ViewBag.Title</h1>
    </div>
</section>
<section id="contacts">
    <div class="content">
        <h2 id="description">@Resources.Language.DescriptionContacts</h2>
    </div>
</section>
<section id="info">
    <div class="content">
        @using (Html.BeginForm("Contatti", "Home", FormMethod.Post, new { @class= "", role = "form", id = "formContatti" }))
        {
            <div class="form-row justify-content-center align-items-center">
                @Html.AntiForgeryToken()

                <div class="form-group col-md-3">
                    @Html.LabelFor(m => m.Nominativo, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Nominativo, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Nominativo, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-3">
                    @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-3">
                    @Html.LabelFor(m => m.Oggetto, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Oggetto, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Oggetto, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(m => m.Testo, new { @class = "control-label" })
                    @Html.TextAreaFor(m => m.Testo, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Testo, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-row footer">
                <div class="form-group col-md-12">
                    <input id="invia" type="submit" class="btn btn-success" value="@Language.Save" />
                </div>
            </div>
        }
            <h2 id="description">@Resources.Language.DescriptionContacts2</h2>
        <address>
            <strong>@Resources.Language.Address</strong> <a href="mailto:info@gratisforgratis.com">info@gratisforgratis.com</a><br /><br />
        </address>
        <address>
            <strong>@Resources.Language.Support:</strong>   <a href="mailto:Support@gratisforgratis.com">Support@gratisforgratis.com</a><br />
            <strong>@Resources.Language.Marketing:</strong> <a href="mailto:Marketing@gratisforgratis.com">Marketing@gratisforgratis.com</a>
        </address>
    </div>
</section>