@Styles.Render("~/Content/seo.css")

<section id="head">
    <div class="content">
        <h1 id="title">@ViewBag.Title</h1>
    </div>
</section>

<section id="pagina" class="content">
    <div class="container">
        <div class="row">
            <div id="presentazione" class="col-md-6 mr-5">
                <h2 class="title">SIGNIFICATO</h2>
                <p>
                    Il concetto di decrescita è alla base di una corrente di pensiero politico, economico e sociale
                    favorevole alla riduzione controllata, selettiva e volontaria della produzione economica e dei
                    consumi, con l'obiettivo di stabilire relazioni di equilibrio ecologico fra l'uomo e la natura
                    ovvero sviluppo sostenibile in termini di indici di sviluppo di fronte anche al rapporto sui
                    limiti dello sviluppo, nonché di equità fra gli esseri umani stessi
                </p>
                <h2 class="title">STORIA</h2>
                <p>
                    Le idee sostenute dai teorici della decrescita contemporanei affondano le loro radici nel pensiero di alcuni autori come Ruskin, Thoreau e Tolstoj. Anche gli scritti di Gandhi contengono simili principi, in particolare riguardo al concetto di semplicità volontaria.

                    Propriamente, il termine "decrescita" compare per la prima volta nel 1972 sotto la penna di André Gorz e poi nel
                    1979 nel titolo della traduzione francese di un'opera di Georgescu-Roegen "Demain la Décroissance"
                    (curata da Jacques Grinevald). Altre importanti anticipazioni possono essere ritrovate nei lavori pubblicati
                    per conto del Club di Roma, di Ivan Illich, posizioni poi riprese da Latouche e da altri economisti contemporanei.
                </p>
                <h2 class="title">PRINCIPI</h2>
                <ul class="lista">
                    <li>Equità e redistribuzione delle risorse</li>
                    <li>Sostenibilità</li>
                    <li>Impronta ecologica</li>
                </ul>
                <h2 class="title">FONTI DI APPROFONDIMENTO</h2>
                <ul class="lista">
                    <li>https://it.wikipedia.org/wiki/Decrescita</li>
                    <li>https://it.blastingnews.com/economia/2013/04/decrescita-felice-cos-e-0013289.html</li>
                    <li>http://www.decrescitafelice.it/</li>
                    <li>https://www.greenme.it/spazi-verdi/decrescita-felice</li>
                </ul>
            </div>
            <aside id="linkRapidi" class="col-md-3">
                <h2 class="title">Link rapidi</h2>
                <ul class="lista">
                    <li>
                        @Html.ActionLink(ViewModel.TeamLink, "Team", "Home")
                    </li>
                    <li>
                        @Html.ActionLink(ViewModel.FundingLink, "Finanziamenti", "Home")
                    </li>
                    <li>
                        @Html.ActionLink(ViewModel.FreeCircuitLink, "CircuitoGratis", "Home")
                    </li>
                    <li>
                        @Html.ActionLink(ViewModel.PartnershipLink, "Partnership", "Home")
                    </li>
                    <li>
                        @Html.ActionLink(ViewModel.SellGratisLink, "VenditaGratis", "Home")
                    </li>
                </ul>
            </aside>
        </div>
    </div>
</section>

