@Styles.Render("~/Content/seo.css")

<section id="head">
    <div class="content">
        <h1 id="title">@ViewBag.Title</h1>
    </div>
</section>

<section id="pagina" class="content">
    <div class="container">
        <div class="row">
            <div id="presentazione" class="col-md-6 mr-5">
                <h2 class="title"><strong>BANDO 4YOUNG</strong></h2>
                <p>
                    Abbiamo <strong>vinto</strong> un bando di comuni-insieme a marzo del <strong>2019</strong> con cui finanzieremo la <strong>divulgazione</strong> del concetto
                    di <strong>economia circolare</strong> e <strong>decrescita felice</strong>, che sono fondanti del sistema <strong>GratisForGratis</strong>!<br />
                    Dettagli finanziamento:
                </p>
                <ul class="lista">
                    <li>Cifra: € 750</li>
                    <li>Obiettivi: realizzazione happy-point ed evento finale</li>
                    <li>Gruppo organizzatore: Tessere</li>
                    <li>N° partecipanti: 4</li>
                    <li>Scadenza: 31/07/2019</li>
                </ul>
            </div>
            <aside id="linkRapidi" class="col-md-3">
                <h2 class="title">Link rapidi</h2>
                <ul class="lista">
                    <li>
                        @Html.ActionLink(ViewModel.TeamLink, "Team", "Home")
                    </li>
                    <li>
                        @Html.ActionLink(ViewModel.ShipmentLink, "Spedizione", "Home")
                    </li>
                    <li>
                        @Html.ActionLink(ViewModel.HowWorkLink, "ComeFunziona", "Home")
                    </li>
                    <li>
                        @Html.ActionLink(ViewModel.PartnershipLink, "Partnership", "Home")
                    </li>
                    <li>
                        @Html.ActionLink(ViewModel.EarnMoneyLink, "ComeGuadagnare", "Home")
                    </li>
                </ul>
            </aside>
        </div>
    </div>
</section>

