@Styles.Render("~/Content/seo.css")

<section id="head">
    <div class="content">
        <h1 id="title">@ViewBag.Title</h1>
    </div>
</section>

<section id="pagina" class="content">
    <div class="container">
        <div class="row">
            <div id="presentazione" class="col-md-6 mr-5">
                <h2 class="title">BANDO 4YOUNG</h2>
                <p>
                    Abbiamo vinto un bando di comuni-insieme a marzo del 2019 con cui finanzieremo la divulgazione del concetto
                    di economia circolare e decrescita felice, che sono fondanti del sistema GratisForGratis!<br />
                    Dettagli finanziamento:
                </p>
                <ul class="lista">
                    <li>Cifra: € 750</li>
                    <li>Obiettivi: realizzazione happy-point ed evento finale</li>
                    <li>Gruppo organizzatore: Tessere</li>
                    <li>N° partecipanti: 4</li>
                    <li>Scadenza: 31/07/2019</li>
                </ul>
            </div>
            <aside id="linkRapidi" class="col-md-3">
                <h2 class="title">Link rapidi</h2>
                <ul class="lista">
                    <li>
                        @Html.ActionLink(ViewModel.TeamLink, "Team", "Home")
                    </li>
                    <li>
                        @Html.ActionLink(ViewModel.FundingLink, "Finanziamenti", "Home")
                    </li>
                    <li>
                        @Html.ActionLink(ViewModel.FreeCircuitLink, "CircuitoGratis", "Home")
                    </li>
                    <li>
                        @Html.ActionLink(ViewModel.PartnershipLink, "Partnership", "Home")
                    </li>
                    <li>
                        @Html.ActionLink(ViewModel.SellGratisLink, "VenditaGratis", "Home")
                    </li>
                </ul>
            </aside>
        </div>
    </div>
</section>

