@using System.Web.Configuration
@using GratisForGratis.Models
@{
    Layout = null;
}
<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" ><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="author" content="Gratis Onlus" />
    <meta name="robots" content="@( (ViewBag.Robots==null)?"INDEX,FOLLOW":ViewBag.Robots )" />
    <meta name="description" content="@ViewBag.Description" />
    <meta name="keywords" content="@ViewBag.Keywords" />
    <!-- BING -->
    <meta name="msvalidate.01" content="226F39118B8B7D348C07F1D8FEC695BD" />
    <title>@((ViewBag.Title != null) ? ViewBag.Title : MetaTag.TitleGeneric) - @WebConfigurationManager.AppSettings["nomeSito"]</title>

    <link href="https://fonts.googleapis.com/css?family=Gochi+Hand" rel="stylesheet">
    <!-- Latest compiled and minified JavaScript -->
    @Styles.Render("~/Content/JqueryUI/jquery-ui.min.css")
    @Styles.Render("~/Scripts/loader/jquery.loader.min.css")
    @Styles.Render("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")

    @Styles.Render("~/Content/index.css")
    @Styles.Render("~/Content/menuCategoria.css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css")

    <!-- respond.js per IE8 -->
    <!--[if lt IE 9]>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
        var CATEGORIAINUSO = 'ciao';
    </script>
</head>

<body>
    <div id="page" class="container-fluid">
        <div id="advBackground"></div>
        <div id="main" class="page container">
            <header>
                <div id="menuHomeOverlay"></div>
                <div id="menuHome">
                    <i class="fas fa-bars icona"></i>
                    <ul class="menu">
                        @if (this.Context.Request.IsAuthenticated)
                        {
                            <li role="presentation" class="reporting">
                                <a id="reportingMobile" href="javascript:void(0);">@Language.Reporting</a>
                            </li>
                            <li role="presentation" class="pubblication">
                                @Html.ActionLink(Language.Public, "", "Pubblica")
                            </li>
                            <li role="presentation" class="dropdown vendite">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">@Language.MenuSells <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        @Html.ActionLink(Language.MenuSellsCurrent, "", "Vendite")
                                    </li>
                                    <li>
                                        @Html.ActionLink(Language.MenuSellsBid, "OfferteRicevute", "Vendite")
                                    </li>
                                    <li>
                                        @Html.ActionLink(Language.MenuSellsCompleted, "Concluse", "Vendite")
                                    </li>
                                </ul>
                            </li>
                            <li role="presentation" class="dropdown acquisti">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">@Language.MenuPurchases <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        @Html.ActionLink(Language.MenuPurchasesCurrent, "", "Acquisti")
                                    </li>
                                    <li>
                                        @Html.ActionLink(MenuResource.RefusedBid, "OfferteRifiutate", "Acquisti")
                                    </li>
                                    <li>
                                        @Html.ActionLink(Language.MenuPurchasesCompleted, "Conclusi", "Acquisti")
                                    </li>
                                    <li>
                                        @Html.ActionLink(Language.MenuRecapsWish, "Vorrei", "Acquisti")
                                    </li>
                                    <li>
                                        @Html.ActionLink(Language.MenuPurchasesRecommend, "Suggeriti", "Acquisti")
                                    </li>
                                    <li>
                                        @Html.ActionLink(Language.MenuRecapsSearch, "RicercheSalvate", "Utente")
                                    </li>
                                </ul>
                            </li>
                            if (Session["portaleweb"] != null && (Session["portaleweb"] as List<PortaleWebViewModel>).Count > 0)
                            {
                                <li role="presentation" class="dropdown partner">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">@Language.Partners <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Home", "Index", "PortaleWeb")</li>
                                        @foreach (PortaleWebViewModel portaleweb in (Session["portaleweb"] as List<PortaleWebViewModel>))
                                        {
                                            <li>
                                                @Html.ActionLink(portaleweb.Nome, "Details", "PortaleWeb", new { token = portaleweb.Token }, null)
                                            </li>
                                            if ((Session["utente"] as PersonaModel).Persona.ABBONAMENTO.DURATA == -1)
                                            {
                                                <li>@Html.ActionLink("Spedizioni in attesa", "SpedizioniInAttesa", "PortaleWeb")</li>
                                                <li>@Html.ActionLink("Spedizioni concluse", "SpedizioniConcluse", "PortaleWeb")</li>
                                            }
                                        }
                                    </ul>
                                </li>
                            }
                            <li role="presentation" class="dropdown utente">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">@Language.User <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        @Html.ActionLink(Language.TitleIndex, "Index", "Utente")
                                    </li>
                                    <li>
                                        @Html.ActionLink(Language.UserPoints, "SaldoPunti", "Utente")
                                    </li>
                                    <li>
                                        @Html.ActionLink(ViewModel.LayoutChat + string.Format(" ({0})", ((PersonaModel)Session["utente"]).NumeroMessaggiDaLeggere), "", "Chat")
                                    </li>
                                    <li>
                                        @Html.ActionLink(Language.MenuUserNews + string.Format(" ({0})", ((PersonaModel)Session["utente"]).NumeroNotificheDaLeggere), "Elenco", "Notifica")
                                    </li>
                                    <li>
                                        @Html.ActionLink(Language.Settings, "Impostazioni", "Utente")
                                    </li>
                                    <li>
                                        @Html.ActionLink(Language.ChangePassword, "CambioPassword", "Utente")
                                    </li>
                                    <li>
                                        <i class="fas fa-lock"></i>
                                        @Html.ActionLink(Language.Logout, "Logout", "Utente")
                                    </li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li role="presentation" class="login">
                                <i class="fas fa-lock-open"></i>
                                @Html.ActionLink(Language.Login, "Login", "Utente", null, new { @class = "" })
                            </li>
                            <li role="presentation" class="loginFacebook">
                                <i class="fab fa-facebook"></i>
                                <a class="loginFB" href="@Url.Action("LoginFacebook", "Utente", new { ReturnUrl = (Model == null || Model.GetType().GetProperty("ReturnUrl") == null || string.IsNullOrWhiteSpace(Model.ReturnUrl) ? "" : Model.ReturnUrl) })">
                                    @ViewModel.LoginFacebook
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </header>
            <div class="row justify-content-center text-center align-items-end">
                <div id="boxLogo" class="col-sm-12">
                    <a href="@Url.Action("Index", "Home")">
                        <img src='@Url.Content("~/Images/logo.jpg")' alt="@WebConfigurationManager.AppSettings["nomeSito"]" />
                        <h3 class="slogan">@Html.Raw(@Language.Slogan)</h3>
                    </a>
                </div>
            </div>
            <div class="row justify-content-center text-center align-items-start">
                <div id="boxRicerca" class="col-sm-6">
                    <div class="col-sm">
                        @using (Html.BeginForm("Index2", "Cerca", FormMethod.Get, new { id = "cerca" }))
                        {
                            <div id="menuCategoriaRicerca">
                                @Html.Hidden("Cerca_IDCategoria", Response.Cookies["ricerca"]["IDCategoria"])
                                @Html.Hidden("Cerca_Categoria", Response.Cookies["ricerca"]["Categoria"])
                                <div class="form-group ricerca">
                                    <label class="sr-only" for="inlineFormInputGroup">@Language.InputSearch</label>
                                    <div class="input-group mb-2 col-md-12">
                                        @Html.TextBox("Cerca_Nome", Response.Cookies["ricerca"]["Nome"], new { @class = "form-control", placeholder = Language.InputSearch })

                                        <div class="input-group-append">
                                            <div class="input-group-text" style="padding:0em 1em;">
                                                <a class="" data-toggle="tooltip" href="javascript:void(0);"
                                                   title="@Tooltip.InfoHowSearch">
                                                    <i class="far fa-question-circle"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <!--
                                        <div class="input-group-append">
                                            <div class="input-group-text"><a href="javascript:void(0);" onclick="$('#btnInvio2').click();"><i class="fab fa-searchengin"></i></a></div>
                                        </div>
                                        -->
                                    </div>
                                </div>
                                <div class="form-group pulsante">
                                    <div class="col-md-12">
                                        <input class="btn btn-primary" type="submit" name="invio" id="btnInvio2" value="CERCA" />
                                    </div>
                                </div>
                                <div class="form-group pulsante">
                                    <div class="col-md-12">
                                        <a href="javascript:void(0);" onclick="nextPage(this);">
                                            <i class="fas fa-chevron-circle-down" style="font-size: 38px;margin-top: 12px;"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <footer>
                <menu id="menuFooter">
                    <nav class="navbar navbar-default navbar-static-bottom">
                        <ul class="nav justify-content-left">
                            <li class="nav-item">@Html.ActionLink(Language.Search, "", "gratis", null, new { @class = "nav-link" })</li>
                            <li class="nav-item">@Html.ActionLink(ViewModel.MissionLink, "Missione", "Home", null, new { @class = "nav-link" })</li>
                            <li class="nav-item">@Html.ActionLink(ViewModel.HowWorkLink, "ComeFunziona", "Home", null, new { @class = "nav-link" })</li>
                            <li class="nav-item">@Html.ActionLink(ViewModel.EarnMoneyLink, "ComeGuadagnare", "Home", null, new { @class = "nav-link" })</li>
                            <li class="nav-item">@Html.ActionLink(ViewModel.PrivacyLink, "Privacy", "Home", null, new { @class = "nav-link" })</li>
                            <li class="nav-item">@Html.ActionLink(ViewModel.ContactsLink, "Contatti", "Home", null, new { @class = "nav-link" })</li>
                        </ul>
                        <ul class="nav justify-content-right box desktop">
                            <li>
                                <a href="http://www.davidemilitano.net/SviluppatoreDotNet" title="WebMaster C#" target="_blank">WebMaster C# - Davide Militano</a>
                            </li>
                            <li>&nbsp;</li>
                            <li>
                                @WebConfigurationManager.AppSettings["nomeSito"] &copy; @DateTime.Now.Year
                            </li>
                            <li>
                                <a class="social fb" href="https://www.facebook.com/gratisforgratis" target="_blank"><i class="fab fa-facebook"></i></a>
                                <a class="social instagram" href="https://www.instagram.com/gratisforgratis" target="_blank"><i class="fab fa-instagram"></i></a>
                                <a class="social twitter" href="https://www.twitter.com/gratisforgratis" target="_blank"><i class="fab fa-twitter"></i></a>
                            </li>
                        </ul>
                    </nav>
                </menu>
            </footer>
        </div>
        <div id="index" class="page container">
            <div class="row justify-content-center text-center">
                <div class="col-md-12">
                    <h2 class="title" style="margin:22px auto;">CATEGORIE</h2>
                </div>

                @if (!this.Context.IsDebuggingEnabled)
                {
                <div class="col-md-12">
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- gratisforgratis -->
                    <ins class="adsbygoogle"
                         style="display:inline-block;width:728px;height:90px"
                         data-ad-client="ca-pub-5108424997424987"
                         data-ad-slot="6804074557"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
                }
            </div>
            <div id="subCategoryObjects" class="row justify-content-center">
                @foreach (GratisForGratis.Models.FINDSOTTOCATEGORIE_Result sottoCategoria in (HttpContext.Current.Application["categorie"] as List<GratisForGratis.Models.FINDSOTTOCATEGORIE_Result>).Where(c => c.ID_PADRE == Convert.ToInt32(Response.Cookies["ricerca"]["IDCategoria"]) && c.TIPO_VENDITA == 0))
                {
                    <a class="col-lg-3 col-md-3 col-sm-4 category object" href="@Url.Content("/gratis/" + sottoCategoria.DESCRIZIONE.Replace(" ","-") + "/" + sottoCategoria.ID)" title="@(Language.Object + ' ' + sottoCategoria.NOME)">
                        <div class="box" style="background-image:url(@Url.Content("/Images/categorie/" + sottoCategoria.IMMAGINE));">
                            <div>
                                <h3 class="text name">@sottoCategoria.NOME</h3>
                                <h4 class="text link">@Language.BuyFree</h4>
                            </div>
                        </div>
                    </a>
                }
            </div>
            <div id="subCategoryServices" class="row justify-content-center">
                @foreach (GratisForGratis.Models.FINDSOTTOCATEGORIE_Result sottoCategoria in (HttpContext.Current.Application["categorie"] as List<GratisForGratis.Models.FINDSOTTOCATEGORIE_Result>).Where(c => c.ID_PADRE == Convert.ToInt32(Response.Cookies["ricerca"]["IDCategoria"]) && c.TIPO_VENDITA == 1))
                {
                    <a class="col-lg-3 col-md-3 category service" href="@Url.Content("/gratis/" + sottoCategoria.DESCRIZIONE.Replace(" ","-") + "/" + sottoCategoria.ID)" title="@(Language.Service + ' ' + sottoCategoria.NOME)">
                        <div class="box" style="background-image:url(@Url.Content("/Images/categorie/" + sottoCategoria.IMMAGINE));">
                            <div>
                                <h3 class="text name">@sottoCategoria.NOME</h3>
                                <h4 class="text link">@Language.PurchaseFree</h4>
                            </div>
                        </div>
                    </a>
                }
            </div>
            <div class="row pulsante justify-content-center text-center">
                <div class="col-md-12">
                    <a href="javascript:void(0);" onclick="nextPage(this);">
                        <i class="fas fa-chevron-circle-down" style="font-size: 38px;margin-top: 12px;"></i>
                    </a>
                </div>
            </div>
        </div>
        <div id="why" class="page container">
            <div class="row align-items-end justify-content-center">
                <div class="col-md-12 text-center">
                    <h2 class="title" style="margin:22px auto;">CARATTERISTICHE</h2>
                </div>
            </div>
            <div class="row align-items-center justify-content-center">
                <div class="col-md-10">
                    <div id="caratteristiche" class="row align-items-start" style="margin:22px 0px 60px;">
                        <div id="completo" class="col-md-4 text-center language">
                            <h2 class="title">Completo</h2>
                            <div>
                                <img class="img-sezione" src="~/Images/stickers/tartaruga10.png" alt="Sito completo" />
                            </div>
                            <div class="text">
                                <p>
                                    Puoi pagare con qualsiasi forma di pagamento: euro, happy-coin, fare un'offerta (anche il baratto) o regalare
                                </p>
                            </div>
                        </div>
                        <div id="anonimo" class="col-md-4 text-center language">
                            <h2 class="title">Anonimo</h2>
                            <div>
                                <img class="img-sezione" src="~/Images/stickers/tartaruga9.png" alt="Sito anonimo" />
                            </div>
                            <div class="text">
                                <p>
                                    Per l'utilizzo della piattaforma ti chiederemo solo e-mail, password ed un nome identificativo (come uno username)
                                </p>
                            </div>
                        </div>
                        <div id="sicuro" class="col-md-4 text-center language">
                            <h2 class="title">Sicuro</h2>
                            <div>
                                <img class="img-sezione" src="~/Images/stickers/tartaruga1.png" alt="Sito sicuro" />
                            </div>
                            <div class="text">
                                <p>
                                    Abbiamo usato le nuove tecnologie, monitoriamo la sicurezza tramite appositi tool, tracciamo gli errori e applichiamo
                                    una filosofia che esorta la violazione del sistema
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-start justify-content-center">
                <div class="col-md-12 pulsante">
                    <a href="javascript:void(0);" onclick="nextPage(this);">
                        <i class="fas fa-chevron-circle-down" style="font-size: 38px;margin-top: 12px;"></i>
                    </a>
                </div>
            </div>
        </div>
        <div id="bando" class="page container">
            <div class="row align-items-end justify-content-center">
                <div class="col-md-12 text-center">
                    <h2 class="title" style="margin:22px auto;">Bando 2019 - Come partecipare?</h2>
                </div>
            </div>
            <div class="row align-items-center justify-content-center">
                <div class="col-md-10">
                    <div id="bando2019" class="row align-items-start justify-content-center" style="margin:22px 0px 60px;">
                        <div id="bandreg" class="col-md-3 text-center language">
                            <h2 class="title"><a href="/utente/login">Registrati</a></h2>
                            <div>
                                <i class="fas fa-signature img-sezione"></i>
                            </div>
                            <div class="text">
                                <p>
                                    Fai la registrazione smart inserendo solamente e-mail, password e lo username dopo l'accesso
                                </p>
                            </div>
                        </div>
                        <div id="bandopubb" class="col-md-3 text-center language">
                            <h2 class="title"><a href="/pubblica">Pubblica</a></h2>
                            <div>
                                <i class="fab fa-adversal img-sezione"></i>
                            </div>
                            <div class="text">
                                <p>
                                    Pubblica 4 annunci attendibili, con almeno uno che sia nella categoria servizi
                                </p>
                            </div>
                        </div>
                        <div id="bandoatt" class="col-md-3 text-center language">
                            <h2 class="title"><a href="/utente">Attendi</a></h2>
                            <div>
                                <i class="far fa-clock img-sezione"></i>
                            </div>
                            <div class="text">
                                <p>
                                    Il concorso inizia il 01-09-2019 e si conclude il 30-09-2019.<br />
                                    Dal 01-10-2019 al 31-10-2019 potrai verificare se hai vinto o meno.
                                </p>
                            </div>
                        </div>
                        <div id="bandopremio" class="col-md-3 text-center language">
                            <h2 class="title"><a href="/utente">Premio</a></h2>
                            <div>
                                <i class="fas fa-trophy img-sezione"></i>
                            </div>
                            <div class="text">
                                <p>
                                    Il vincitore riceverà un buono Amazon da € 50!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-start justify-content-center">
                <div class="col-md-12 text-center">
                    <a href="~/Temp/Bando2019_Regolamento.pdf">
                        <i class="fas fa-file-download" style="font-size: 38px;margin-top: 12px;"></i><br />
                        Scarica regolamento
                    </a>
                </div>
            </div>
            <div class="row align-items-start justify-content-center">
                <div class="col-md-12 pulsante" style="margin-bottom:22px;">
                    <a href="javascript:void(0);" onclick="anchorPage('#main');">
                        <i class="fas fa-chevron-circle-up" style="font-size: 38px;margin-top: 12px;"></i><br />
                        Torna alla ricerca
                    </a>
                </div>
            </div>
        </div>
    </div>


    <!-- HIDDEN ELEMENT -->
    <div id="menuCategorie" style="display:none;">
        <input id="categoriaAttuale" name="categoriaAttuale" value="@Response.Cookies["ricerca"]["Categoria"]" type="text" />
        @{ List<GratisForGratis.Models.FINDSOTTOCATEGORIE_Result> categorie = (HttpContext.Current.Application["categorie"] as List<GratisForGratis.Models.FINDSOTTOCATEGORIE_Result>);
            <ul id="menu">
                @foreach (GratisForGratis.Models.FINDSOTTOCATEGORIE_Result categoria in categorie.Where(c => c.LIVELLO <= 0))
                {
                    <li>
                        <a class="trigger" data-value="@categoria.ID" data-text="@categoria.NOME" data-id="#Cerca_IDCategoria" data-name="#Cerca_Categoria" title="@(Language.Buy + ' ' + categoria.NOME)">
                            @categoria.NOME
                        </a>
                        @if (categoria.LIVELLO >= 0)
                        {
                            <ul>
                                @foreach (GratisForGratis.Models.FINDSOTTOCATEGORIE_Result sottoCategoria in categorie.Where(c => c.ID_PADRE == categoria.ID))
                                {
                                    <li>
                                        @if (categorie.Count(item => item.ID_PADRE == sottoCategoria.ID) > 0)
                                        {
                                            <a class="trigger" data-value="@sottoCategoria.ID" data-text="@sottoCategoria.NOME" data-id="#Cerca_IDCategoria" data-name="#Cerca_Categoria" title="@(Language.Buy + ' ' + sottoCategoria.NOME)">
                                                @sottoCategoria.NOME
                                            </a>
                                            <ul>
                                                @foreach (GratisForGratis.Models.FINDSOTTOCATEGORIE_Result sottoCategoria2 in categorie.Where(c => c.ID_PADRE == sottoCategoria.ID))
                                                {
                                                    <li><a class="trigger" data-value="@sottoCategoria2.ID" data-text="@sottoCategoria2.NOME" data-id="#Cerca_IDCategoria" data-name="#Cerca_Categoria" data-pubblica="true" title="@(Language.Buy + ' ' + sottoCategoria2.NOME)">@sottoCategoria2.NOME</a></li>
                                                }
                                            </ul>
                                        }
                                        else
                                        {
                                            <a class="trigger" data-value="@sottoCategoria.ID" data-text="@sottoCategoria.NOME" data-id="#Cerca_IDCategoria" data-name="#Cerca_Categoria" data-pubblica="true" title="@(Language.Buy + ' ' + sottoCategoria.NOME)">
                                                @sottoCategoria.NOME
                                            </a>
                                        }
                                    </li>
                                }
                            </ul>
                        }
                    </li>
                }
            </ul>
        }
    </div>

    @Scripts.Render("https://code.jquery.com/jquery-3.4.1.min.js")
    @Scripts.Render("https://code.jquery.com/ui/1.12.1/jquery-ui.min.js")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
    @Scripts.Render("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
    @Scripts.Render("~/Scripts/Uploadify/jquery.uploadifive.min.js")
    @Scripts.Render("~/Scripts/loader/jquery.loader.min.js")
    <script type="text/javascript">
        $.validator.setDefaults({
            ignore: null
        });
        $.validator.methods.range = function (value, element, param) {
            var globalizedValue = value.replace(",", ".");
            return this.optional(element) || (globalizedValue >= param[0] && globalizedValue <= param[1]);
        }

        $.validator.methods.number = function (value, element) {
            return this.optional(element) || /^-?(?:\d+|\d{1,3}(?:[\s\.,]\d{3})+)(?:[\.,]\d+)?$/.test(value);
        }
        // variabili globali
        var MONETA = '@(Language.Price + " (" + Language.Moneta + ")")';
    </script>
    @Scripts.Render("~/Scripts/SlickNav/jquery.slicknav.min.js")
    @Scripts.Render("https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js")
    @Scripts.Render("~/Scripts/Site.js")
    @Scripts.Render("~/Scripts/index.js")
</body>
</html>
