@Styles.Render("~/Content/seo.css")

<section id="head">
    <div class="content">
        <h1 id="title">@ViewBag.Title</h1>
    </div>
</section>

<section id="pagina" class="content">
    <div class="container">
        <div class="row">
            <div id="presentazione" class="col-md-6 mr-5">
                <h2 class="title">MISSION</h2>
                <p>
                    Un <strong>sistema economico complementare</strong> che aiuti le persone ad ottenere tutti i <strong>beni o servizi</strong> che desiderano senza limiti
                </p>
                <h2 class="title">VISION</h2>
                <p>
                    Realizzare un <strong>sistema</strong> dove le persone possano vivere in completa <strong>felicità</strong>
                </p>
                <h2 class="title">FILOSOFIA</h2>
                <p>
                    Questo è un sistema definito <strong>“happy”</strong>, un’<strong>economia circolare</strong> in cui lo 
                    strumento per valutare gli scambi è la <strong>felicità</strong>
                    ed in cui lo scopo non sia la quantità ma la <strong>qualità</strong>.<br />
                    @Html.ActionLink(Language.Login, "Login", "Utente")
                </p>
                <h2 class="title">MANIFESTO</h2>
                <p>
                    Abbiamo constatato nel corso di questo secolo che l’uomo per continuare a <strong>migliorare</strong> le proprie <strong>condizioni di vita</strong> e 
                    di <strong>benessere</strong> ha bisogno di un <strong>sistema economico</strong> in linea con l’<strong>ambiente</strong> e che 
                    abbia regole che indirizzano verso uno sviluppo sociale ed economico <strong>equo</strong> e <strong>proporzionale</strong>.
                    L’<strong>attuale sistema non è sostenibile</strong>, in quanto non tiene in considerazione degli equilibri di cui la natura ha bisogno
                    per mantenere un ambiente adatto a tutti gli esseri viventi. Infatti vanta il risultato che l’<strong>1% della popolazione</strong> detiene
                    il <strong>99% della ricchezza mondiale</strong> e vanta anche il risultato di aver inquinato in modo grave e quasi irreversibile 
                    le nostre <strong>risorse primarie</strong> (come acqua, aria, terra..).
                    La situazione è inaccettabile per chiunque abbia un minimo di cervello o semplicemente di buon senso.
                    Stiamo quindi chiedendo a tutti di <strong>partecipare</strong> al nostro progetto, per ribellarci e mettere in atto 
                    una rivoluzione <strong>sociale e ambientale</strong>.
                </p>
            </div>
            <aside id="linkRapidi" class="col-md-3">
                <h2 class="title">Link rapidi</h2>
                <ul class="lista">
                    <li>
                        @Html.ActionLink(ViewModel.TeamLink, "Team", "Home")
                    </li>
                    <li>
                        @Html.ActionLink(ViewModel.FundingLink, "Finanziamenti", "Home")
                    </li>
                    <li>
                        @Html.ActionLink(ViewModel.FreeCircuitLink, "CircuitoGratis", "Home")
                    </li>
                    <li>
                        @Html.ActionLink(ViewModel.PartnershipLink, "Partnership", "Home")
                    </li>
                    <li>
                        @Html.ActionLink(ViewModel.SellGratisLink, "VenditaGratis", "Home")
                    </li>
                </ul>
            </aside>
        </div>
    </div>
</section>

