@Styles.Render("~/Content/seo.css")

<section id="head">
    <div class="content">
        <h1 id="title">@ViewBag.Title</h1>
    </div>
</section>

<section id="pagina" class="content">
    <div class="container">
        <div class="row">
            <div id="presentazione" class="col-md-6 mr-5">
                <h2 class="title">MISSION</h2>
                <p>
                    Vogliamo abbattere le barriere dell’economia attuale, creando un sistema virtuale basato sulla felicità individuale e collettiva.
                </p>
                <h2 class="title">VISION</h2>
                <p>
                    Un mercato libero da banche, multinazionali e lobby di potere
                </p>
                <h2 class="title">FILOSOFIA</h2>
                <p>
                    Abbiamo constatato nel corso di questo secolo che l’attuale <strong>sistema economico</strong> continua a mantenere
                    il costante problema delle disuguaglianze sociali ed economiche, anzi nel corso degli ultimi anni questa forbice
                    continua ad allargarsi. La scusa e anche la verità è il dover mantenere il benessere di pochi (attualmente l’1% della
                    popolazione detiene il 99% della ricchezza mondiale!). Ci siamo accorti inoltre di come questo sistema stia distruggendo
                    l’habitat in cui viviamo, cambiando il clima, sporcando le nostre acque ed inquinando le nostre terre. Questo è un
                    sistema che non è sostenibile per l’ambiente, in quanto non tiene in considerazione degli equilibri di cui la natura
                    ha bisogno per mantenere le condizioni vivibili per gli esseri viventi.<br />
                    La situazione è inaccettabile per chiunque abbia un minimo di cuore o semplicemente per chiunque tenga alla propria
                    vita, al proprio futuro o a quello dei suoi cari.<br />
                    Sulla base di questa considerazione ci siamo decisi a <strong>realizzare un sistema virtuale</strong> in cui instaurare
                    un <strong>nuovo modello socio-economico</strong>, che possa cambiare i parametri su cui basare l’economia e che modifichi
                    la filosofia e la rotta attuali.
                    Ecco perché la realizzazione di un <strong>sistema “happy”</strong>, un’<strong>economia circolare</strong> in cui
                    lo strumento per valutare gli scambi sia la <strong>felicità</strong> ed in cui lo scopo non sia produrre
                    in modo sfrenato ma produrre di qualità e con l’ottica di <strong>produrre meno</strong> per guadagnare di più.<br />
                    Le basi per attuare tutto questo le potrete scoprire partecipando al nostro progetto.<br />
                    @Html.ActionLink(Language.Login, "Login", "Utente")
                </p>
            </div>
            <aside id="linkRapidi" class="col-md-3">
                <h2 class="title">Link rapidi</h2>
                <ul class="lista">
                    <li>
                        @Html.ActionLink(ViewModel.TeamLink, "Team", "Home")
                    </li>
                    <li>
                        @Html.ActionLink(ViewModel.FundingLink, "Finanziamenti", "Home")
                    </li>
                    <li>
                        @Html.ActionLink(ViewModel.FreeCircuitLink, "CircuitoGratis", "Home")
                    </li>
                    <li>
                        @Html.ActionLink(ViewModel.PartnershipLink, "Partnership", "Home")
                    </li>
                    <li>
                        @Html.ActionLink(ViewModel.SellGratisLink, "VenditaGratis", "Home")
                    </li>
                </ul>
            </aside>
        </div>
    </div>
</section>

