@Styles.Render("~/Content/seo.css")

<section id="head">
    <div class="content">
        <h1 id="title">@ViewBag.Title</h1>
    </div>
</section>

<section id="pagina" class="content">
    <div class="container">
        <div class="row">
            <div id="presentazione" class="col-md-6 mr-5">
                <h2>Definizione</h2>
                <p>

                </p>
                <h2>Storia</h2>
                <p>

                </p>
                <h2>Link alla ricerca per happy</h2>
                <p>

                </p>
            </div>
            <aside id="linkRapidi" class="col-md-3">
                <ul>
                    <li>
                        @Html.ActionLink(ViewModel.TeamLink, "Team", "Home")
                    </li>
                    <li>
                        @Html.ActionLink(ViewModel.FundingLink, "Finanziamenti", "Home")
                    </li>
                    <li>
                        @Html.ActionLink(ViewModel.FreeCircuitLink, "CircuitoGratis", "Home")
                    </li>
                    <li>
                        @Html.ActionLink(ViewModel.PartnershipLink, "Partnership", "Home")
                    </li>
                    <li>
                        @Html.ActionLink(ViewModel.SellGratisLink, "VenditaGratis", "Home")
                    </li>
                </ul>
            </aside>
        </div>
    </div>
</section>

