@Styles.Render("~/Content/seo.css")

<section id="head">
    <div class="content">
        <h1 id="title">@ViewBag.Title</h1>
    </div>
</section>

<section id="pagina" class="content">
    <div class="container">
        <div class="row">
            <div id="presentazione" class="col-md-8 mr-5">
                <h2 class="title">PUNTI DI FORZA</h2>
                <p>
                    <ul class="lista">
                        <li>Varie modalità di <strong>pagamento</strong></li>
                        <li>Accesso <strong>anonimo</strong> e veloce, tutti possono iscriversi</li>
                        <li>Sistema <strong>decentrato</strong>: il credito è generato dall’utente in base alle azioni svolte sul circuito</li>
                        <li>Il sistema è a <strong>credito</strong> e <strong>circolare</strong>, l’HappyCoin ha una vita e non è condizionata da interessi</li>
                        <li>Il sistema economico <strong>parte dal basso</strong></li>
                    </ul>
                </p>
                <h2 class="title">SEMPLICITà</h2>
                <p>
                    Abbiamo costruito un sistema che potesse essere il più <strong>intuitivo</strong> possibile, che potesse rappresentare
                    al massimo il potenziale di ogni persona.<br />
                    Abbiamo realizzato un <strong>accesso smart</strong> e veloce, un <strong>guadagno</strong> dei crediti altrettanto veloce,
                    basato sulla <strong>condivisione</strong> e sul <strong>contributo</strong> di ciascuna persona al sistema stesso.
                </p>
                <h2 class="title">MANIFESTO</h2>
                <p>
                    Abbiamo constatato nel corso di questo secolo che l’uomo per continuare a <strong>migliorare</strong> le proprie <strong>condizioni di vita</strong> e
                    di <strong>benessere</strong> ha bisogno di un <strong>sistema economico</strong> in linea con l’<strong>ambiente</strong> e che
                    abbia regole che indirizzano verso uno sviluppo sociale ed economico <strong>equo</strong> e <strong>proporzionale</strong>.
                    L’<strong>attuale sistema non è sostenibile</strong>, in quanto non tiene in considerazione degli equilibri di cui la natura ha bisogno
                    per mantenere un ambiente adatto a tutti gli esseri viventi. Infatti vanta il risultato che l’<strong>1% della popolazione</strong> detiene
                    il <strong>99% della ricchezza mondiale</strong> e vanta anche il risultato di aver inquinato in modo grave e quasi irreversibile
                    le nostre <strong>risorse primarie</strong> (come acqua, aria, terra..).
                    La situazione è inaccettabile per chiunque abbia un minimo di cervello o semplicemente di buon senso.
                    Stiamo quindi chiedendo a tutti di <strong>partecipare</strong> al nostro progetto, per ribellarci e mettere in atto
                    una rivoluzione <strong>sociale e ambientale</strong>.
                </p>
            </div>
            <aside id="linkRapidi" class="col-md-3">
                <h2 class="title">Link rapidi</h2>
                <ul class="lista">
                    <li>
                        @Html.ActionLink(ViewModel.TeamLink, "Team", "Home")
                    </li>
                    <li>
                        @Html.ActionLink(ViewModel.FundingLink, "Finanziamenti", "Home")
                    </li>
                    <li>
                        @Html.ActionLink(ViewModel.FreeCircuitLink, "CircuitoGratis", "Home")
                    </li>
                    <li>
                        @Html.ActionLink(ViewModel.PartnershipLink, "Partnership", "Home")
                    </li>
                    <li>
                        @Html.ActionLink(ViewModel.CircularEconomy, "EconomiaCircolare", "Home")
                    </li>
                </ul>
                <a class="helper" href="@Url.Action("", "cerca")" title="@ViewBag.Title">
                    <img src="~/Images/stickers/tartaruga3.png" alt="@Language.Search" />
                </a>
            </aside>
        </div>
    </div>
</section>

