@Styles.Render("~/Content/seo.css")

<section id="head">
    <div class="content">
        <h1 id="title">@ViewBag.Title</h1>
    </div>
</section>

<section id="pagina" class="content">
    <div class="container">
        <div class="row">
            <div id="presentazione" class="col-md-8 mr-5">
                <p>
                    Il sistema <strong>permette</strong> anche di pubblicare beni e competenze da <strong>regalare</strong>, questo perchè crediamo che questa forma di scambio
                    possa rappresentare i seguenti punti:
                </p>
                <h2>REGALO => <strong>COME FORMA RIVOLUZIONARIA</strong></h2>
                <p>
                    Vuole essere un sistema per <strong>controbattere</strong> il <strong>sistema capitalista liberale</strong>, dove non esistono regole certe,
                    dove il PIù FORTE vince con il più debole e dove non esistono i valori anche cristiani, di carità,
                    <strong>sostegno del più debole</strong>, altruismo per realizzare una <strong>società più forte</strong> e più progredita di altre.
                </p>
                <h2>REGALO => <strong>COME PROGRESSO UMANO</strong></h2>
                <p>
                    Un progresso non economico, non tecnologico, ma un progresso del <strong>pensiero umano</strong>, 
                    della <strong>coscienza</strong> e della <strong>società</strong>,
                    per la creazione di un'ambiente più in sintonia con l'essere umano.
                </p>
                <h2>REGALO => <strong>COME FUTURO SOSTENIBILE</strong></h2>
                <p>
                    L'<strong>abbattimento</strong> della ricerca del <strong>superflueo</strong>, con la ricerca di ciò che è meglio per noi, quindi la
                    negazione dell'<strong>avarizia</strong> ed invece la ricerca della modestia come modello di vita. La comprensione del mondo che ci
                    sta attorno per arrivare ad apprezzare ciò che abbiamo senza cercare in modo ossessivo e malato <strong>cose inutili</strong> e solo
                    <strong>momentanee</strong>. Un'evoluzione vera cercando un progresso nei valori per capire il significato di avere fatto proprio un valore.
                </p>
            </div>
            <aside id="linkRapidi" class="col-md-3">
                <h2 class="title">Link rapidi</h2>
                <ul class="lista">
                    <li>
                        @Html.ActionLink(ViewModel.TeamLink, "Team", "Home")
                    </li>
                    <li>
                        @Html.ActionLink(ViewModel.FundingLink, "Finanziamenti", "Home")
                    </li>
                    <li>
                        @Html.ActionLink(ViewModel.FreeCircuitLink, "CircuitoGratis", "Home")
                    </li>
                    <li>
                        @Html.ActionLink(ViewModel.PartnershipLink, "Partnership", "Home")
                    </li>
                    <li>
                        @Html.ActionLink(ViewModel.SellGratisLink, "VenditaGratis", "Home")
                    </li>
                </ul>
                <a class="helper" href="@Url.Action("", "cerca")" title="@ViewBag.Title">
                    <img src="~/Images/stickers/tartaruga3.png" alt="@Language.Search" />
                </a>
            </aside>
        </div>
    </div>
</section>

