@Styles.Render("~/Content/seo.css")

<section id="head">
    <div class="content">
        <h1 id="title">@ViewBag.Title</h1>
    </div>
</section>

<section id="pagina">
    <div id="presentazione" class="col-md-6 col-md-push-1">
        <h2>COME FORMA RIVOLUZIONARIA</h2>
        <p>
            Vuole essere un sistema per controbattere il sistema capitalista liberale, dove non esistono regole certe,
            dove il PIù FORTE vince con il più debole e dove non esistono i valori anche cristiani, di carità, 
            sostegno del più debole, altruismo che portano la società ad essere più forte e più progredita di altre.
        </p>
        <h2>COME PROGRESSO UMANO</h2>
        <p>
            Un progresso non economico, non tecnologico, ma un progresso del pensiero umano, della coscienza e della società,
            per la creazione di un'ambiente più in sintonia con l'essere umano.
        </p>
        <h2>COME FUTURO SOSTENIBILE</h2>
        <p>
            L'abbattimento della ricerca del superflueo, con la ricerca di ciò che è meglio per noi, quindi la 
            negazione dell'avarizia ed invece la ricerca della modestia come modello di vita. La comprensione del mondo che ci
            sta attorno per arrivare ad apprezzare ciò che abbiamo senza cercare in modo ossessivo e malato cose inutili e solo
            momentanee. Un'evoluzione vera cercando un progresso nei valori per capire il significato di avere fatto proprio un valore.
        </p>
    </div>
    <aside id="linkRapidi" class="col-md-3 col-md-push-2">
        <h2 class="title">Link rapidi</h2>
        <ul class="lista">
            <li>
                @Html.ActionLink(ViewModel.TeamLink, "Team", "Home")
            </li>
            <li>
                @Html.ActionLink(ViewModel.FundingLink, "Finanziamenti", "Home")
            </li>
            <li>
                @Html.ActionLink(ViewModel.FreeCircuitLink, "CircuitoGratis", "Home")
            </li>
            <li>
                @Html.ActionLink(ViewModel.PartnershipLink, "Partnership", "Home")
            </li>
            <li>
                @Html.ActionLink(ViewModel.SellGratisLink, "VenditaGratis", "Home")
            </li>
        </ul>
    </aside>
</section>

