@Styles.Render("~/Content/seo.css")

<section id="head">
    <div class="content">
        <h1 id="title">@ViewBag.Title</h1>
    </div>
</section>

<section id="pagina" class="content">
    <div class="container">
        <div class="row">
            <div id="presentazione" class="col-md-6 mr-5">
                <h2 class="title">TECNOLOGIA</h2>
                <ul class="lista">
                    <li>Linguaggio <strong>C#</strong> - <strong>SQL SERVER</strong> - <strong>HTML5</strong> - <strong>CSS3</strong> - <strong>JQUERY</strong></li>
                    <li>Ambiente di sviluppo <strong>VISUAL STUDIO</strong> 2017</li>
                </ul>
                <p>
                    <strong>Monitoraggio</strong>:<br />
                    Per tenere monitorata la situazione ci avvaliamo di alcuni strumenti online, tra i quali i seguenti:
                </p>
                <ul class="lista">
                    <li>https://scanmyserver.com/my_account/</li>
                    <li>https://observatory.mozilla.org/</li>
                    <li>https://pentest-tools.com/home</li>
                </ul>
                <p>
                    Abbiamo impostato un sistema per il quale l’utente può <strong>segnalare</strong> in tempo reale eventuali problemi 
                    applicativi e nel quale al verificarsi di un errore tecnico viene inviata automaticamente la segnalazione 
                    e viene <strong>inviato un bonus</strong> di “risarcimento” all’utente.
                </p>
                <h2 class="title"><strong>Tutela filosofica</strong>:</h2>
                <p>
                    Infine ci riserviamo di informarvi che il <strong>portafoglio</strong> di ogni cliente è <strong>limitato</strong>, 
                    che i <strong>crediti</strong> generati hanno una <strong>scadenza</strong> e che vengono generati in <strong>grandi quantità</strong>,
                    quindi tutto questo <strong>esorta</strong> chiunque <strong>dal rubarli</strong> o semplicemente da disperarsi se rubati.
                </p>
            </div>
            <aside id="linkRapidi" class="col-md-3">
                <h2 class="title">Link rapidi</h2>
                <ul class="lista">
                    <li>
                        @Html.ActionLink(ViewModel.TeamLink, "Team", "Home")
                    </li>
                    <li>
                        @Html.ActionLink(ViewModel.FundingLink, "Finanziamenti", "Home")
                    </li>
                    <li>
                        @Html.ActionLink(ViewModel.FreeCircuitLink, "CircuitoGratis", "Home")
                    </li>
                    <li>
                        @Html.ActionLink(ViewModel.PartnershipLink, "Partnership", "Home")
                    </li>
                    <li>
                        @Html.ActionLink(ViewModel.SellGratisLink, "VenditaGratis", "Home")
                    </li>
                </ul>
            </aside>
        </div>
    </div>
</section>

