@Styles.Render("~/Content/seo.css")
@Styles.Render("~/Content/spedizioni.css")

<section id="head">
    <div class="content">
        <h1 id="title">@ViewBag.Title</h1>
    </div>
</section>

<section id="pagina" class="content">
    <div class="container">
        <div class="row">
            <div id="presentazione" class="col-md-8 mr-5">
                <p>
                    GratisForGratis offre ai propri utenti 2 modalità di spedizione.
                    <ul class="lista">
                        <li>Spedizione <strong>privata</strong>: ovvero la spedizione verrà gestita in autonomia dal <strong>venditore</strong>.</li>
                        <li>Spedizione <strong>online</strong>: una forma di spedizione sicura e veloce con il <strong>corriere espresso Nexive</strong>, gestendo in automatico la spedizione direttamente sul nostro sito.</li>
                    </ul>
                </p>
                <h2 class="title">Spedizione privata</h2>
                <p>
                    Il sito richiede di inserire i seguenti dati:
                    <ul class="lista">
                        <li>Il sito richiederà il <strong>prezzo</strong> che il compratore dovrà pagare per la spedizione</li>
                        <li>Il <strong>tempo massimo</strong> di imballaggio previsto per il prodotto</li>
                        <li>Dati di spedizione del mittente: <strong>nominativo, recapito e luogo</strong></li>
                    </ul>
                </p>
                <h2 class="title">Spedizione online:</h2>
                <p>
                    Il sito richiede di inserire i seguenti dati:
                    <ul class="lista">
                        <li>Il <strong>tempo massimo</strong> di imballaggio previsto per il prodotto</li>
                        <li><strong>Dimensioni</strong> del prodotto</li>
                        <li>Scelta del <strong>corriere</strong> e del tipo di spedizione</li>
                        <li><strong>Giorni ed orari</strong> di disponibilità per spedire</li>
                        <li>Dati di spedizione del mittente: <strong>nominativo, recapito e luogo</strong></li>
                    </ul>
                </p>
                <h2 class="title">Tempi</h2>
                <p>
                    In caso di <strong>spedizione privata</strong> i tempi sono dettati interamente dal <strong>venditore</strong>.
                    In caso di <strong>spedizione online</strong> i tempi dipendono per l’<strong>imballaggio</strong> e la <strong>consegna</strong> al corriere da parte del venditore,
                    più i <strong>tempi tecnici</strong> per evadere la richiesta dal nostro portale.
                </p>
                <h2 class="title">
                    Costi(*)
                </h2>
                <p>
                    Il <strong>costo</strong> del servizio per la gestione della spedizione viene addebitato al COMPRATORE e si riferisce al <strong>10%</strong> del costo totale di spedizione.
                </p>
            </div>
            <aside id="linkRapidi" class="col-md-3">
                <h2 class="title">Link rapidi</h2>
                <ul class="lista">
                    <li>
                        @Html.ActionLink(ViewModel.MissionLink, "Missione", "Home")
                    </li>
                    <li>
                        @Html.ActionLink(ViewModel.WhySiteLink, "PercheRegistrarsi", "Home")
                    </li>
                    <li>
                        @Html.ActionLink(ViewModel.SiteWebLink, "SitiUtili", "Home")
                    </li>
                    <li>
                        @Html.ActionLink(ViewModel.PartnershipLink, "Partnership", "Home")
                    </li>
                    <li>
                        @Html.ActionLink(ViewModel.HappyDegrowth, "DecrescitaFelice", "Home")
                    </li>
                </ul>
                <a class="helper" href="@Url.Action("", "cerca")" title="@ViewBag.Title">
                    <img src="~/Images/stickers/tartaruga3.png" alt="@Language.Search" />
                </a>
            </aside>
        </div>
    </div>
</section>

