@Styles.Render("~/Content/seo.css")

<section id="head">
    <div class="content">
        <h1 id="title">@ViewBag.Title</h1>
    </div>
</section>

<section id="pagina" class="content">
    <div class="container">
        <div class="row">
            <div id="presentazione" class="col-md-8 mr-5">
                <div class="row">
                    <div class="col-md">
                        <h2 class="title">CHI HA PARTECIPATO AL PROGETTO</h2>
                    </div>
                </div>
                <div class="row">
                    <a class="col-md-4" href="https://www.davidemilitano.net" target="_blank" title="Davide Militano">
                        <div class="card">
                            <img class="card-img-top" src="https://www.davidemilitano.net/images/davidemilitano.JPG" alt="Logo Davide Militano">
                            <div class="card-body">
                                <h5 class="card-title">Davide</h5>
                                <p class="card-text">Ideatore / Sviluppatore</p>
                            </div>
                        </div>
                    </a>
                    <a class="col-md-4" href="https://www.linkedin.com/in/valentina-baldini-5309b5b8" target="_blank" title="Vale">
                        <div class="card">
                            <img class="card-img-top" src="https://scontent-mxp1-1.xx.fbcdn.net/v/t1.0-9/57761939_847300825607371_1126736794105151488_n.jpg?_nc_cat=108&_nc_ohc=fdKzFPVAWcAAQnRy0LTGoFj5o_g49HTaDvc1WSRNMyQzxRCtPtY9j6bUA&_nc_ht=scontent-mxp1-1.xx&oh=23553a6411857f3399fa583ff4a6695b&oe=5E737F3F" alt="Logo Davide Militano">
                            <div class="card-body">
                                <h5 class="card-title">Valentina</h5>
                                <p class="card-text">Digital Marketing Specialist</p>
                            </div>
                        </div>
                    </a>
                    <a class="col-md-4" href="https://www.facebook.com/nick.iamundo" target="_blank" title="Nick">
                        <div class="card">
                            <img class="card-img-top" src="https://scontent-mxp1-1.xx.fbcdn.net/v/t31.0-8/s960x960/10258925_10203840455562743_1472917110377561513_o.jpg?_nc_cat=107&_nc_ohc=FpxmxADwV_AAQkAfF_5BoW7iltsyMVxB23_oPeOBJYz-N03V5B_ULZeAQ&_nc_ht=scontent-mxp1-1.xx&oh=b97bbd5d86f3b55ff51bb3a37c911cef&oe=5E6CB0FD" alt="Logo Davide Militano">
                            <div class="card-body">
                                <h5 class="card-title">Nick</h5>
                                <p class="card-text">Grafico / Pubblicitario</p>
                            </div>
                        </div>
                    </a>
                    <!--
    <a class="box col-md-4" href="https://urbanphilosophers.wordpress.com" target="_blank" title="Adel">
        <div class="card">
            <img class="card-img-top" src="https://media.licdn.com/dms/image/C4E03AQEEjPOhwC3EyA/profile-displayphoto-shrink_800_800/0?e=1580947200&v=beta&t=VXvzSMmQopSIGpcp1F87fYMJJserZ7Q8uqTcYVf5RCk" alt="Logo Davide Militano">
            <div class="card-body">
                <h5 class="card-title">Adel</h5>
                <p class="card-text">Consulente strategico</p>
            </div>
        </div>
    </a>
    <a class="box col-md-4" href="https://it.linkedin.com/in/luca-militano-a73235b5" target="_blank" title="Luca">
        <div class="card">
            <img class="card-img-top" src="https://www.davidemilitano.net/images/davidemilitano.JPG" alt="Logo Davide Militano">
            <div class="card-body">
                <h5 class="card-title">Luca</h5>
                <p class="card-text">Sviluppatore / Analista</p>
            </div>
        </div>
    </a>
    <a class="box col-md-4" href="https://www.facebook.com/giuseppe.principato.50" target="_blank" title="Beppe">
        <div class="card">
            <img class="card-img-top" src="https://scontent-mxp1-1.xx.fbcdn.net/v/t1.0-1/12991027_10209204220691813_7596776715968951876_n.jpg?_nc_cat=106&_nc_ohc=mQnZXB9uQ3MAQk_-jci_W_li8Uxa7PxUvWgcejsB1qyKg3O-67olcmCFA&_nc_ht=scontent-mxp1-1.xx&oh=1e00a8e656f1f4599c131609eb12b483&oe=5E71DC71" alt="Logo Davide Militano">
            <div class="card-body">
                <h5 class="card-title">Giuseppe</h5>
                <p class="card-text">Commerciale</p>
            </div>
        </div>
    </a>
    <a class="box col-md-4" href="https://www.linkedin.com/in/biancamaestroni/" target="_blank" title="Bianca">
        <div class="card">
            <img class="card-img-top" src="https://scontent-mxp1-1.xx.fbcdn.net/v/t1.0-9/53396365_10219343934731646_2792382844444344320_n.jpg?_nc_cat=107&_nc_ohc=htgvB2eYCaMAQmgvU5pBaSVGNatbbKm1rhLnXuxLVtQIFBNaxvYWmK_Kg&_nc_ht=scontent-mxp1-1.xx&oh=09cbf50f279ab69f01f00fcb21134c9e&oe=5E88AD6D" alt="Logo Davide Militano">
            <div class="card-body">
                <h5 class="card-title">Bianca</h5>
                <p class="card-text">Digital Marketing Specialist</p>
            </div>
        </div>
    </a>-->
                </div>
            </div>
            <aside id="linkRapidi" class="col-md-3">
                <h2 class="title">Link rapidi</h2>
                <ul class="lista">
                    <li>
                        @Html.ActionLink(ViewModel.MissionLink, "Missione", "Home")
                    </li>
                    <li>
                        @Html.ActionLink(ViewModel.HowWorkLink, "ComeFunziona", "Home")
                    </li>
                    <li>
                        @Html.ActionLink(ViewModel.CircularEconomy, "EconomiaCircolare", "Home")
                    </li>
                    <li>
                        @Html.ActionLink(ViewModel.HappyDegrowth, "DecrescitaFelice", "Home")
                    </li>
                    <li>
                        @Html.ActionLink(ViewModel.HappyPeople, "HappyPeople", "Home")
                    </li>
                </ul>
                <a class="helper" href="@Url.Action("", "cerca")" title="@ViewBag.Title">
                    <img src="~/Images/stickers/tartaruga3.png" alt="@Language.Search" />
                </a>
            </aside>
        </div>
    </div>
</section>