@Styles.Render("~/Content/seo.css")

<section id="head">
    <div class="content">
        <h1 id="title">@ViewBag.Title</h1>
    </div>
</section>

<section id="pagina" class="content">
    <div class="container">
        <div class="row">
            <div id="presentazione" class="col-md-6 mr-5">
                <div class="row">
                    <div class="col-md">
                        <h2 class="title">CHI HA PARTECIPATO AL PROGETTO</h2>
                    </div>
                </div>
                <div class="row">
                    <a class="box col-md-4" href="https://www.davidemilitano.net" target="_blank" title="Davide Militano">
                        <div>
                            <img class="img-thumbnail" src="https://www.davidemilitano.net/images/davidemilitano.JPG" alt="Logo Davide Militano" />
                            <h4>
                                Davide
                            </h4>
                            <h4>
                                Ideatore / Sviluppatore
                            </h4>
                        </div>
                    </a>
                    <a class="box col-md-4" href="https://urbanphilosophers.wordpress.com" target="_blank" title="Adel">
                        <div>
                            <img class="img-thumbnail" src="https://urbanphilosophers.files.wordpress.com/2016/12/answers-knowledge-graph-ss-1920.jpg?w=142" alt="Urban Philosophers" />
                            <h4>
                                Adel
                            </h4>
                            <h4>
                                Consulente strategico
                            </h4>
                        </div>
                    </a>
                    <a class="box col-md-4" href="https://www.linkedin.com/in/valentina-baldini-5309b5b8" target="_blank" title="Vale">
                        <div>
                            <img class="img-thumbnail" src="https://static.licdn.com/scds/common/u/images/themes/katy/ghosts/person/ghost_person_200x200_v1.png" alt="Valentina" />
                            <h4>
                                Vale
                            </h4>
                            <h4>
                                Digital Marketing Specialist
                            </h4>
                        </div>
                    </a>
                    <a class="box col-md-4" href="https://www.facebook.com/nick.iamundo" target="_blank" title="Nick">
                        <div>
                            <img class="img-thumbnail" src="https://scontent-mxp1-1.xx.fbcdn.net/v/t1.0-1/p160x160/11049588_10207987598798732_80640331496108899_n.jpg?_nc_cat=108&_nc_ht=scontent-mxp1-1.xx&oh=6cee2052e5c11e20ab06809c69ab8196&oe=5D20A528" alt="Nick" />
                            <h4>
                                Nick
                            </h4>
                            <h4>
                                Grafico / Pubblicitario
                            </h4>
                        </div>
                    </a>
                    <a class="box col-md-4" href="https://it.linkedin.com/in/luca-militano-a73235b5" target="_blank" title="Luca">
                        <div>
                            <img class="img-thumbnail" src="https://static.licdn.com/scds/common/u/images/themes/katy/ghosts/person/ghost_person_200x200_v1.png" alt="Luca" />
                            <h4>
                                Luca
                            </h4>
                            <h4>
                                Sviluppatore / Analista
                            </h4>
                        </div>
                    </a>
                    <a class="box col-md-4" href="https://www.facebook.com/giuseppe.principato.50" target="_blank" title="Beppe">
                        <div>
                            <img class="img-thumbnail" src="https://scontent-mxp1-1.xx.fbcdn.net/v/t1.0-1/12991027_10209204220691813_7596776715968951876_n.jpg?_nc_cat=106&_nc_ht=scontent-mxp1-1.xx&oh=7b1c34df22d4ac423679019873ac62aa&oe=5CE65A71" alt="Beppe" />
                            <h4>
                                Beppe
                            </h4>
                            <h4>
                                Commerciale
                            </h4>
                        </div>
                    </a>
                    <a class="box col-md-4" href="https://www.linkedin.com/in/biancamaestroni/" target="_blank" title="Bianca">
                        <div>
                            <img class="img-thumbnail" src="https://media.licdn.com/dms/image/C4E03AQHmgO_1csuHrw/profile-displayphoto-shrink_800_800/0?e=1556150400&v=beta&t=fXXdGUC4gNhUuarpDX_XfaQu0ycupntL6tiOffXI3xM" alt="Bianca" />
                            <h4>
                                Bianca
                            </h4>
                            <h4>
                                Digital Marketing Specialist
                            </h4>
                        </div>
                    </a>
                </div>
                <div class="row">
                    <h2 class="title">TECNOLOGIA</h2>
                    <p>
                        GratisForGratis è <strong>scritto</strong> lato back-end in <strong>C#</strong> usando il framework <strong>ASP.NET MVC</strong> 
                        mentre lato front-end in <strong>HTML5</strong>, <strong>CSS3</strong> e <strong>Jquery</strong>. 
                        Gli utenti non registrati hanno accesso alla ricerca di beni e servizi e possono registrarsi
                        con due modalità, una smart ed una full.
                    </p>
                </div>
                <div class="row">
                    <h2 class="title">STORIA</h2>
                    <p>
                        Il sito è stato creato da <strong>Davide Militano</strong>, dopo un'illuminazione avuta per caso insieme al suo migliore amico
                        <strong>Adel Khalifa</strong> nel 2015/2016 come alternativa più aperta e più lungimirante dell'attuale sistema economico.
                        Il nome del sito web fu scelto con una <strong>votazione tra amici</strong> diretti del creatore. Nell' Agosto del<strong> 2015</strong>
                        Davide iniziò la <strong>realizzazione</strong> del motore principale del sito. Dopo circa un anno di lavoro solitario
                        e di lavoro nel tempo libero, capì che non era possibile realizzare da solo quell'impresa e riuscì a
                        <strong>coinvolgere</strong> alcuni amici per collaborare insieme al progetto: <strong>Valentina Baldini</strong> (Marketing) fù la prima,
                        <strong>Nick Iamundo</strong> (Grafico), <strong>Luca Militano</strong> (Analista/Sviluppatore), <strong>Giuseppe Principato</strong> (Commerciale). L'idea
                        era quella di realizzare un team di persone socie alla pari, con cui realizzare un grande progetto sociale
                        con la filosofia di un'economia gratuita e libera dal denaro, un'economia incentrata sulla persona e la comunità.
                        Durante quest'anno ci furono parecchie rivoluzioni nella struttura del progetto, migliorie, funzioni più
                        avanzate ed utili, confronti con avvocati sulla fattibilità e parecchie difficoltà di lavorare in team,
                        anche causato dal poco tempo disponibile. Intanto subentrò come marketing <strong>Bianca Maestroni</strong> al posto di Valentina.
                        Nonostante tutto, questo periodo è stato importantissimo per rendere concrete le idee del gruppo, dare
                        una linea guida al progetto, ma risultò distruttivo per il team, che per vari motivi si sciolse.
                        Agli inizi del <strong>2018</strong> Davide non si demoralizzò ed inizio a crearsi un piano per la <strong>finalizzazione</strong> del sito e per il lancio online.
                        Nel marzo del <strong>2019</strong> vennè lanciata la prima versione <strong>BETA</strong>, in fase di sperimentazione e collaudo.
                    </p>
                </div>
                <div class="row">
                    <h2 class="title">FUTURO</h2>
                    <p>
                        GIl sito cerca di <strong>realizzare</strong> un'ampia rete di persone che possano usufruire di un <strong>circuito alternativo</strong> di scambio.
                    </p>
                </div>
            </div>
            <aside id="linkRapidi" class="col-md-3">
                <h2 class="title">Link rapidi</h2>
                <ul class="lista">
                    <li>
                        @Html.ActionLink(ViewModel.MissionLink, "Missione", "Home")
                    </li>
                    <li>
                        @Html.ActionLink(ViewModel.HowWorkLink, "ComeFunziona", "Home")
                    </li>
                    <li>
                        @Html.ActionLink(ViewModel.CircularEconomy, "EconomiaCircolare", "Home")
                    </li>
                    <li>
                        @Html.ActionLink(ViewModel.HappyDegrowth, "DecrescitaFelice", "Home")
                    </li>
                    <li>
                        @Html.ActionLink(ViewModel.HappyPeople, "HappyPeople", "Home")
                    </li>
                </ul>
            </aside>
        </div>
    </div>
</section>