@model GratisForGratis.Models.ViewModels.SpedizioneViewModel
@using System.Web.Configuration
<tr>
    <td style="width:50px;">&nbsp;</td>
    <td align="center" style="padding:12px 0px 0px;line-height:12px;">
        @Html.Raw(string.Format(Email.LDVWelcome, Model.Destinatario))
    </td>
    <td style="width:50px;">&nbsp;</td>
</tr>
<tr>
    <td style="width:50px;">&nbsp;</td>
    <td align="center" style="padding:12px 0px 0px;line-height:12px;">
        @Html.Raw(string.Format(Email.LDVText1, Model.NomeAnnuncio))
    </td>
    <td style="width:50px;">&nbsp;</td>
</tr>
<tr>
    <td style="width:50px;">&nbsp;</td>
    <td align="center" style="padding:12px 0px 0px;line-height:12px;">
        @Html.Raw(Email.LDVText2)
    </td>
    <td style="width:50px;">&nbsp;</td>
</tr>
<tr>
    <td style="width:50px;">&nbsp;</td>
    <td align="center" style="padding:20px 0px 0px;line-height:12px;">
        <strong>@Email.SloganFooter</strong>
        <span style="font-style:italic;">Team @WebConfigurationManager.AppSettings["nomeSito"].</span>
    </td>
    <td style="width:50px;">&nbsp;</td>
</tr>
<tr>
    <td colspan="3">&nbsp;</td>
</tr>

