@using System.Web.Configuration
<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" ><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="author" content="Gratis Onlus" />
    <meta name="robots" content="@( (ViewBag.Robots==null)?"INDEX,FOLLOW":ViewBag.Robots )" />
    @RenderSection("MetaTags", false)
    <meta name="description" content="@ViewBag.Description" />
    <meta name="keywords" content="@ViewBag.Keywords" />
    <!-- BING -->
    <meta name="msvalidate.01" content="226F39118B8B7D348C07F1D8FEC695BD" />
    <title>@((ViewBag.Title != null) ? ViewBag.Title : MetaTag.TitleGeneric) - @WebConfigurationManager.AppSettings["nomeSito"]</title>

    <link href="https://fonts.googleapis.com/css?family=Gochi+Hand" rel="stylesheet">
    <!-- Latest compiled and minified JavaScript -->
    @Styles.Render("~/Content/JqueryUI/jquery-ui.min.css")
    @Styles.Render("~/Scripts/Uploadify/uploadifive.css")
    @Styles.Render("~/Scripts/loader/jquery.loader.min.css")
    @Styles.Render("~/Scripts/SlickNav/slicknav.css")
    @Styles.Render("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/menuCategoria.css")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css")

    <!-- respond.js per IE8 -->
    <!--[if lt IE 9]>
<script src="js/respond.min.js"></script>
<![endif]-->
    <script type="text/javascript">
        var CATEGORIAINUSO = 'ciao';
    </script>
</head>
<body>
    <div id="window">
        <div id="messaggioPromozione">

            @if (Request.Cookies.Get("GXG_promo") != null)
            {
                <div class="testo">
                    @Html.Raw(string.Format(MessageForUser.MessaggioPromozione, WebConfigurationManager.AppSettings["bonusPromozione" + Request.Cookies.Get("GXG_promo").Value], Language.Moneta, Html.ActionLink(Button.RegisterYou, "Registrazione", "Utente")))
                </div>
            }

        </div>
        <div id="messaggioPerUtente">
            <!-- INFO PER UTENTE -->
            @if (TempData["MESSAGGIO"] != null)
            {
                <div class="info">
                    @Html.Raw(TempData["MESSAGGIO"])
                </div>
            }
            <!-- ERRORE PER UTENTE -->
            @if (ViewBag.Message != null)
            {
                <div class="errore">
                    @Html.Raw(ViewBag.Message)
                </div>
            }
        </div>
        <div id="menuMobileOverlay"></div>
        <header>
            <div class="container">
                <div id="menuMobile">
                    <i class="fas fa-bars icona"></i>
                    <ul class="menu">
                        <li role="presentation" class="login">
                            <i class="fas fa-lock-open"></i>
                            @Html.ActionLink(Language.Login, "Login", "Utente")
                        </li>
                        <li role="presentation" class="register loginFacebook">
                            <a class="col-md-9 col-md-push-2 btn btn-primary loginFB" href="@Url.Action("LoginFacebook", "Utente", new { ReturnUrl = (Model == null || Model.GetType().GetProperty("ReturnUrl") == null || string.IsNullOrWhiteSpace(Model.ReturnUrl) ? "" : Model.ReturnUrl) })">
                                <i class="fab fa-facebook"></i>
                                @ViewModel.LoginFacebook
                            </a>
                        </li>
                        <li role="presentation" class="mission">
                            @Html.ActionLink(ViewModel.MissionLink, "Missione", "Home")
                        </li>
                        <li role="presentation" class="whatido">
                            @Html.ActionLink(ViewModel.HowWorkLink, "ComeFunziona", "Home")
                        </li>
                        <li role="presentation" class="earn">
                            @Html.ActionLink(ViewModel.EarnMoneyLink, "ComeGuadagnare", "Home")
                        </li>
                        <li role="presentation" class="contacts">
                            @Html.ActionLink(Language.Contacts, "Contatti", "Home")
                        </li>
                    </ul>
                </div>
                <ul id="linkLogin">
                    <li role="presentation" class="login">
                        <i class="fas fa-lock-open"></i>
                        @Html.ActionLink(Language.Login, "Login", "Utente")
                    </li>
                    <li role="presentation" class="register loginFacebook">
                        <a class="btn btn-primary" href="@Url.Action("LoginFacebook", "Utente")" style="color:#FFF;">
                            <i class="fab fa-facebook-f" style="margin-right:3px;"></i>
                            @ViewModel.LoginFacebook
                        </a>
                    </li>
                </ul>
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <a id="logo" class="brand" href='@Url.Action("Index", "Home")'>
                            <img class="ico" src='@Url.Content("~/Images/logo.png")' alt="@WebConfigurationManager.AppSettings["nomeSito"]" />
                            <h1 class="slogan">@Html.Raw(@Language.Slogan)</h1>
                        </a>
                    </div>
                    <div class="col-md-9">
                        <menu>
                            <ul class="nav-pills">
                                <li role="presentation" class="mission">
                                    @Html.ActionLink(ViewModel.MissionLink, "Missione", "Home")
                                </li>
                                <li role="presentation" class="whatido">
                                    @Html.ActionLink(ViewModel.HowWorkLink, "ComeFunziona", "Home")
                                </li>
                                <li role="presentation" class="earn">
                                    @Html.ActionLink(ViewModel.EarnMoneyLink, "ComeGuadagnare", "Home")
                                </li>
                                <li role="presentation" class="contacts">
                                    @Html.ActionLink(Language.Contacts, "Contatti", "Home")
                                </li>
                            </ul>
                            <div id="toolbar">
                                @using (Html.BeginForm("", "cerca", FormMethod.Get, new { id = "cerca" }))
                                {
                                    <div class="form-group col-sm-12 ricerca">
                                        <label class="sr-only" for="inlineFormInputGroup">@Language.InputSearch</label>
                                        <div class="input-group" style="padding:0px;">
                                            @Html.Hidden("Cerca_IDCategoria", Response.Cookies["ricerca"]["IDCategoria"])
                                            @Html.TextBox("Cerca_Nome", Response.Cookies["ricerca"]["Nome"], new { @class = "form-control", placeholder = Language.InputSearch })
                                            <div class="input-group-append">
                                                <div class="input-group-text" style="border-radius: 0px 6px 6px 0px;">
                                                    <a href="javascript:void(0);" onclick="$('#btnInvio2').click();">
                                                        <i class="fas fa-search"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <input id="btnInvio2" class="btn-search" type="submit" value="search" data-toggle="tooltip" data-placement="top" title="@Language.SearchSubmit" />
                                }
                            </div>
                            <div id="subCategoryObjects" class="subCategory">
                                @if ((HttpContext.Current.Application["categorie"] as List<GratisForGratis.Models.FINDSOTTOCATEGORIE_Result>).Where(c => c.ID_PADRE == Convert.ToInt32(Response.Cookies["ricerca"]["IDCategoria"])).ToList().Count > 0)
                                {
                                    foreach (GratisForGratis.Models.FINDSOTTOCATEGORIE_Result sottoCategoria in (HttpContext.Current.Application["categorie"] as List<GratisForGratis.Models.FINDSOTTOCATEGORIE_Result>).Where(c => c.ID_PADRE == Convert.ToInt32(Response.Cookies["ricerca"]["IDCategoria"])))
                                    {
                                        @Html.ActionLink(sottoCategoria.DESCRIZIONE, sottoCategoria.DESCRIZIONE.Replace(" ", "-").ToLower() + "-gratis/" + sottoCategoria.ID, "categoria", null, new { @class = "link" })
                                    }
                                }
                                else
                                {
                                    foreach (GratisForGratis.Models.FINDSOTTOCATEGORIE_Result sottoCategoria in (HttpContext.Current.Application["categorie"] as List<GratisForGratis.Models.FINDSOTTOCATEGORIE_Result>).Where(c => c.ID_PADRE == Convert.ToInt32(Response.Cookies["ricerca"]["IDCategoriaPadre"])))
                                    {
                                        @Html.ActionLink(sottoCategoria.DESCRIZIONE, sottoCategoria.DESCRIZIONE.Replace(" ", "-").ToLower() + "-gratis/" + sottoCategoria.ID, "categoria", null, new { @class = "link" })
                                    }
                                }
                            </div>
                            <!--<div id="advertising" role="banner" class="banner">
                    @if (TempData["advertising"] != null)
                    {
                        @Html.Raw(WebUtility.HtmlDecode(TempData["advertising"].ToString()))
                    }
                </div>
                <div class="fb-like"
                     data-share="true"
                     data-width="260"
                     data-show-faces="false">
                </div>-->
                        </menu>
                    </div>
                </div>
            </div>
            <!--<img id="betatesting" src='@Url.Content("~/Images/beta_testing.png")' alt="@WebConfigurationManager.AppSettings["nomeSito"] Beta" />-->
        </header>
        <div class="container">
            @RenderBody()
        </div>
    </div>
    <footer>
        <div id="categorie">
            <div class="container">
                <h2 class="title">Categorie principali</h2>
                <div id="subCategoryObjects" class="row justify-content-left">
                    @foreach (GratisForGratis.Models.FINDSOTTOCATEGORIE_Result sottoCategoria in (HttpContext.Current.Application["categorie"] as List<GratisForGratis.Models.FINDSOTTOCATEGORIE_Result>).Where(c => c.LIVELLO == 0 && c.STATO == 1))
                    {
                        <a class="col-lg-3 col-md-3 col-sm-4 col-xs-4 category object" href="@Url.Content("/categoria/" + sottoCategoria.DESCRIZIONE.Replace(" ","-").ToLower() + "-gratis/" + sottoCategoria.ID)" title="@(Language.Object + ' ' + sottoCategoria.NOME)">
                            @sottoCategoria.NOME
                        </a>
                    }
                </div>
            </div>
        </div>
        <nav>
            <ul id="footermenu">
                <li role="presentation" class="history">
                    @Html.ActionLink("Storico", "StoricoAnnunci", "Home")
                </li>
                <li role="presentation" class="mission">
                    @Html.ActionLink(ViewModel.MissionLink, "Missione", "Home")
                </li>
                <li role="presentation" class="whatido">
                    @Html.ActionLink(ViewModel.HowWorkLink, "ComeFunziona", "Home")
                </li>
                <li role="presentation" class="earn">
                    @Html.ActionLink(ViewModel.EarnMoneyLink, "ComeGuadagnare", "Home")
                </li>
                <li role="presentation" class="siteweb">
                    @Html.ActionLink(ViewModel.BartLink, "Baratto", "Home")
                </li>
                <li role="presentation" class="privacy">
                    @Html.ActionLink(ViewModel.PrivacyLink, "Privacy", "Home")
                </li>
                <li role="presentation" class="contacts">
                    @Html.ActionLink(ViewModel.ContactsLink, "Contatti", "Home")
                </li>
                <li role="presentation">@Html.ActionLink("Bando 2019", "Bando", "Home")</li>
            </ul>
        </nav>
        <div class="content">
            <h4>@WebConfigurationManager.AppSettings["nomeSito"] &copy; @DateTime.Now.Year</h4>
            <h5>@Language.Footer</h5>
            <h6><a href="http://www.davidemilitano.net/SviluppatoreDotNet" title="WebMaster C#" target="_blank">WebMaster C# - Davide Militano</a></h6>
        </div>
    </footer>

    <!-- START POPUP -->
    <form id="boxSegnalazione" class="popup">
        @Html.AntiForgeryToken()
        <input name="Controller" type="hidden" value="@ViewContext.RouteData.Values["controller"]" />
        <input name="Vista" type="hidden" value="@ViewContext.RouteData.Values["action"]" />
        <select name="Tipologia">
            <option value="0">@Language.Bug</option>
            <option value="1">@Language.Improvement</option>
        </select>
        <input type="email" name="EmailRisposta" placeholder="@Language.AnswerEmail" />
        <input type="text" name="Oggetto" placeholder="@Language.Object" />
        <textarea name="Testo" placeholder="@Language.Text"></textarea>
        <input id="AllegatoSegnalazione" type="file" name="Allegato" placeholder="@Language.Attachment" />
        <a class="button btn btn-success" href="javascript:void(0);">@Language.Send</a>
    </form>


    <!-- HIDDEN ELEMENT -->
    <div id="menuCategorie" style="display:none;">
        <input id="categoriaAttuale" name="categoriaAttuale" value="@Response.Cookies["ricerca"]["Categoria"]" data-id="@Response.Cookies["ricerca"]["IDCategoria"]" type="text" />
        @{ List<GratisForGratis.Models.FINDSOTTOCATEGORIE_Result> categorie = (HttpContext.Current.Application["categorie"] as List<GratisForGratis.Models.FINDSOTTOCATEGORIE_Result>);
            <ul id="menu">
                @foreach (GratisForGratis.Models.FINDSOTTOCATEGORIE_Result categoria in categorie.Where(c => c.LIVELLO <= 0))
                {
                    <li>
                        <a class="trigger" data-value="@categoria.ID" data-text="@categoria.NOME" data-id="#Cerca_IDCategoria" data-name="#Cerca_Categoria" title="@(Language.Buy + ' ' + categoria.NOME)">
                            @categoria.NOME
                        </a>
                        @if (categoria.LIVELLO >= 0)
                        {
                            <ul>
                                @foreach (GratisForGratis.Models.FINDSOTTOCATEGORIE_Result sottoCategoria in categorie.Where(c => c.ID_PADRE == categoria.ID))
                                {
                                    <li>
                                        @if (categorie.Count(item => item.ID_PADRE == sottoCategoria.ID) > 0)
                                        {
                                            <a class="trigger" data-value="@sottoCategoria.ID" data-text="@sottoCategoria.NOME" data-id="#Cerca_IDCategoria" data-name="#Cerca_Categoria" title="@(Language.Buy + ' ' + sottoCategoria.NOME)">
                                                @sottoCategoria.NOME
                                            </a>
                                            <ul>
                                                @foreach (GratisForGratis.Models.FINDSOTTOCATEGORIE_Result sottoCategoria2 in categorie.Where(c => c.ID_PADRE == sottoCategoria.ID))
                                                {
                                                    <li><a class="trigger" data-value="@sottoCategoria2.ID" data-text="@sottoCategoria2.NOME" data-id="#Cerca_IDCategoria" data-name="#Cerca_Categoria" data-pubblica="true" title="@(Language.Buy + ' ' + sottoCategoria2.NOME)">@sottoCategoria2.NOME</a></li>
                                                }
                                            </ul>
                                        }
                                        else
                                        {
                                            <a class="trigger" data-value="@sottoCategoria.ID" data-text="@sottoCategoria.NOME" data-id="#Cerca_IDCategoria" data-name="#Cerca_Categoria" data-pubblica="true" title="@(Language.Buy + ' ' + sottoCategoria.NOME)">
                                                @sottoCategoria.NOME
                                            </a>
                                        }
                                    </li>
                                }
                            </ul>
                        }
                    </li>
                }
            </ul>
        }
    </div>

    @if (!this.Context.IsDebuggingEnabled)
    {
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-82382944-1', 'auto');
            ga('send', 'pageview');

        </script>
    }
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    @Scripts.Render("https://code.jquery.com/jquery-3.4.1.min.js")
    @Scripts.Render("https://code.jquery.com/ui/1.12.1/jquery-ui.min.js")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
    @Scripts.Render("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
    @Scripts.Render("~/Scripts/Uploadify/jquery.uploadifive.min.js")
    @Scripts.Render("~/Scripts/loader/jquery.loader.min.js")
    <script type="text/javascript">
        $.validator.setDefaults({
            ignore: null
        });
        $.validator.methods.range = function (value, element, param) {
            var globalizedValue = value.replace(",", ".");
            return this.optional(element) || (globalizedValue >= param[0] && globalizedValue <= param[1]);
        }

        $.validator.methods.number = function (value, element) {
            return this.optional(element) || /^-?(?:\d+|\d{1,3}(?:[\s\.,]\d{3})+)(?:[\.,]\d+)?$/.test(value);
        }
        // variabili globali
        var MONETA = '@(Language.Price + " (" + Language.Moneta + ")")';
    </script>
    @Scripts.Render("~/Scripts/SlickNav/jquery.slicknav.min.js")
    @Scripts.Render("https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js")
    @Scripts.Render("~/Scripts/Site.js")
    @RenderSection("scripts", required: false)
</body>
</html>
