@using GratisForGratis.Models
@model VeicoloViewModel

    <div class="col-md-12">
        <p class="model"><b>@Language.Model:</b> @((string.IsNullOrEmpty(@Model.modelloNome)) ? "" : "- " + Model.modelloNome)</p>
        <p class="place"><b>@Language.Power :</b> @Model.alimentazioneNome</p>
    </div>