@using GratisForGratis.Models
@model OggettoViewModel

@if (!string.IsNullOrWhiteSpace(Model.Marca))
{
    <h5 class="brand"><b>@Language.Brand :</b> @Model.Marca</h5>
}
<h5 class="state"><b>@Language.StateObject :</b> @EnumHelper.GetSelectList(typeof(CondizioneOggetto), Model.StatoOggetto).Where(m => m.Selected).FirstOrDefault().Text</h5>
@if (Model.TipoScambio.Contains(TipoScambio.Spedizione))
{
    <h5 class="shipment"><b>@Language.Shipment :</b> <span class="evidence">@Model.SoldiSpedizione (@Model.NomeCorriere)</span></h5>
    <h5><b>DISPONIBILITà PER LA SPEDIZIONE</b></h5>
    <h5 class="giorniSpedizione"><b>Giorni</b></h5>
    <p>
        @foreach (var giorno in Model.GiorniSpedizioneEnum.Where(m => Model.GiorniSpedizione.Exists(n => n.ToString() == m.Value)))
        {
            @(giorno.Text + "; ")
        }
    </p>
    <h5 class="orariSpedizione"><b>Orari</b></h5>
    <p>
        @foreach (var orario in Model.OrariSpedizioneEnum.Where(m => Model.OrariSpedizione.Exists(n => n.ToString() == m.Value)))
        {
            @(orario.Text +"; ")
        }
    </p>
        
    <h5 class="TempoImballaggio"><b>Tempo Imballaggio</b></h5>
    <p>
        @foreach (var tempo in Model.TempoImballaggioEnum.Where(m => Model.TempoImballaggio.ToString() == m.Value))
        {
            @(tempo.Text)
        }
    </p>
}
@if (Model.Materiali.Count(m => m.Trim() != string.Empty) > 0)
{
    <ul class="materials lista">
        @Language.LblMaterials :
        @foreach (string materiale in Model.Materiali)
        {
            <li class="voce">
                @materiale
            </li>
        }
    </ul>
}
@if (Model.Componenti.Count(m => m.Trim() != string.Empty) > 0)
{
    <ul class="components lista">
        @Language.LblComponents :
        @foreach (string componente in Model.Componenti)
        {
            <li class="voce">
                @componente
            </li>
        }
    </ul>
}