@using GratisForGratis.Models
@model OggettoViewModel

@if (!string.IsNullOrWhiteSpace(Model.Marca))
{
    <div class="col-md-12">
        <p>
            <b>@Language.Brand</b> @Model.Marca
        </p>
    </div>
}
<div class="col-md-12">
    <p title="@Language.StateObject">
        <i class="fas fa-battery-half"></i> @EnumHelper.GetSelectList(typeof(CondizioneOggetto), Model.StatoOggetto).Where(m => m.Selected).FirstOrDefault().Text
    </p>
</div>
@if (Model.TipoScambio.Contains(TipoScambio.Spedizione))
{
<div class="col-md-12">
    <p class="shipment"><b>@Language.Shipment</b> <span class="evidence">@Model.SoldiSpedizione (@Model.NomeCorriere)</span></p>
    <p class="giorniSpedizione"><b>Giorni per la spedizione</b></p>
    <p>
        @foreach (var giorno in Model.GiorniSpedizioneEnum.Where(m => Model.GiorniSpedizione.Exists(n => n.ToString() == m.Value)))
        {
            @(giorno.Text + "; ")
        }
    </p>
    <p class="orariSpedizione"><b>Orari per la spedizione</b></p>
    <p>
        @foreach (var orario in Model.OrariSpedizioneEnum.Where(m => Model.OrariSpedizione.Exists(n => n.ToString() == m.Value)))
        {
            @(orario.Text + "; ")
        }
    </p>

    <p class="TempoImballaggio"><b>Tempo Imballaggio</b></p>
    <p>
        @foreach (var tempo in Model.TempoImballaggioEnum.Where(m => Model.TempoImballaggio.ToString() == m.Value))
        {
            @(tempo.Text)
        }
    </p>
</div>
}
@if (Model.Materiali.Count(m => m.Trim() != string.Empty) > 0)
{
<div class="col-md-12">
    <p><b>@Language.LblMaterials</b></p>
    <ul class="materials lista">
        @foreach (string materiale in Model.Materiali)
        {
            <li class="voce">
                @materiale
            </li>
        }
    </ul>
</div>
}
@if (Model.Componenti.Count(m => m.Trim() != string.Empty) > 0)
{
<div class="col-md-12">
    <p><b>@Language.LblComponents</b></p>
    <ul class="components lista">
        @foreach (string componente in Model.Componenti)
        {
            <li class="voce">
                @componente
            </li>
        }
    </ul>
</div>
}