@using GratisForGratis.Models
@model ServizioViewModel

<div class="col-md-12">
    <p class="rate"><b>@Language.Rate</b> @Model.Tariffa</p>
</div>
<div class="col-md-12">
    <p class="days"><b>@Language.Days</b></p>
</div>

@if (Model.Tutti!=null && Model.Tutti==true)
{
<div class="col-md-12">
    <p>@Language.AllDays</p>
</div>
}
else
{
<ul>
    @if (Model.Lunedi==true)
    {
    <li>
        @Language.Monday
    </li>
    }
    @if (Model.Martedi == true)
    {
    <li>
        @Language.Tuesday
    </li>
    }
    @if (Model.Mercoledi == true)
    {
    <li>
        @Language.Wednesday
    </li>
    }
    @if (Model.Giovedi == true)
    {
    <li>
        @Language.Thursday
    </li>
    }
    @if (Model.Venerdi == true)
    {
    <li>
        @Language.Friday
    </li>
    }
    @if (Model.Sabato == true)
    {
    <li>
        @Language.Saturday
    </li>
    }
    @if (Model.Domenica == true)
    {
    <li>
        @Language.Sunday
    </li>
    }
</ul>
}
@if (Model.OraInizio != null && Model.OraFine != null)
{
    <div class="col-md-12">
        <p class="businesshour"><b>@Language.BusinessHour :</b> @Language.StartTime @Model.OraInizio @Language.EndTime @Model.OraFine</p>
    </div>
}
@if (Model.OraInizioFestivita != null && Model.OraFineFestivita != null)
{
<div class="col-md-12">
    <p class="holidays"><b>@Language.Holidays :</b> @Language.StartTime @Model.OraInizioFestivita @Language.EndTime @Model.OraFineFestivita</p>
</div>
}
@if (!string.IsNullOrWhiteSpace(Model.ServiziOfferti)){
    <div class="col-md-12">
        <p class="servicesbid"><b>@Language.Bid :</b> @Model.ServiziOfferti</p>
    </div>
}
@if (!string.IsNullOrWhiteSpace(Model.RisultatiFinali)){
    <div class="col-md-12">
        <p class="results"><b>@Language.Results :</b> @Model.RisultatiFinali</p>
    </div>
}