@model GratisForGratis.Models.ViewModels.ChatViewModel

@using (Html.BeginForm("Invia", "Chat", FormMethod.Post, new { Id = "FormChat" }))
{
    <!-- form inserimento nuovo messaggio -->
    @Html.AntiForgeryToken()
<fieldset>
    @Html.HiddenFor(m => m.Id, new { @class = "form-control", id = "ChatNewId" })
    @Html.HiddenFor(m => m.DestinatarioId, new { @class = "form-control", id = "ChatDestinatarioId" })
    <div class="form-group">
        @Html.TextAreaFor(m => m.Testo, new { @class = "form-control", placeholder = "Digita un messaggio..." })
    </div>
    @if (Model.Id > 0)
    {
        <a id="lnkAnnullaModifica" class="col-xs-2 btn btn-danger">@ViewModel.ChatUpdateCancel</a>
    }
    else
    {
        <a class="col-xs-2"></a>
    }
    <a id="lnkInvia" class="col-xs-2 col-xs-push-8 btn btn-success">@Language.Send</a>
</fieldset>
}
