@model GratisForGratis.Models.PortaleWebProfiloViewModel
@{
    ViewBag.Title = Language.TitlePartnerProfile + " " + Model.Nome;
}
@Styles.Render("~/Content/profilo.css")

<section id="partners" class="content">

    <h1 id="title">@ViewBag.Title</h1>
    <div class="row">
        <div id="lnkChat" class="col-md-2 btn btn-primary">
            <i class="far fa-comments"></i>
            @Html.ActionLink(ViewModel.ProfileSendMessage, "PortaleWeb", "Chat", new { token = Model.Token }, new { @class = "" })
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div>
                @if (Model.Foto.Count > 0)
                {
                    <img class="imgProfile" src="@("/Uploads/Images/" + Model.Token + "/" + Model.Foto[0].DATA_INSERIMENTO.Year + "/Normal/" + Model.Foto[0].NOME)" alt="@(Model.Foto[0].NOME)">
                }
                else
                {
                    <i class="fas fa-store imgProfile" style="font-size:150px;"></i>
                }
            </div>
        </div>
        <div class="col-md-9">
            <div class="content">
                <div class="row">
                    <div class="col-md-3">
                        <h4>@Html.DisplayNameFor(m => m.Nome)</h4>
                        <p>@Model.Nome</p>
                    </div>
                    <div class="col-md-3">
                        <h4>@Html.DisplayNameFor(m => m.Dominio)</h4>
                        <p>@Model.Dominio</p>
                    </div>
                    <div class="col-md-3">
                        <h4>@Html.DisplayNameFor(m => m.Abbonamento)</h4>
                        <p>@Model.Abbonamento</p>
                    </div>
                    <div class="col-md-3">
                        <h4>@Html.DisplayNameFor(m => m.Email)</h4>
                        <p>@Model.Email</p>
                    </div>
                    <div class="col-md-3">
                        <h4>@Html.DisplayNameFor(m => m.Telefono)</h4>
                        <p>@Model.Telefono</p>
                    </div>
                    <div class="col-md-3">
                        <h4>@Language.BonusNow</h4>
                        <p>@Model.Bonus</p>
                    </div>
                    <div class="col-md-3">
                        <h4>@Language.DateSubscription</h4>
                        <p>@Model.DataIscrizione</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (Model.ListaVendite.Count > 0)
    {
        <div id="topVendite" class="row hidden-xs">
            <div class="col-sm-12">
                <h5 class="title">@ViewModel.ProfileLastSell</h5>
            </div>
            @foreach (GratisForGratis.Models.AnnuncioViewModel annuncio in Model.ListaVendite.Take(4))
            {
                @Html.Partial("PartialPages/_AnnuncioSmall", annuncio)
            }
        </div>
    }
    @if (Model.ListaAcquisti.Count > 0)
    {
        <div id="topAcquisti" class="row hidden-xs">
            <div class="col-sm-12">
                <h5 class="title">@ViewModel.ProfileTopPurchases</h5>
            </div>
            @foreach (GratisForGratis.Models.AnnuncioViewModel annuncio in Model.ListaAcquisti.Take(4))
            {
                @Html.Partial("PartialPages/_AnnuncioSmall", annuncio)
            }
        </div>
    }
    @if (Model.ListaDesideri.Count > 0)
    {
        <div id="topDesideri" class="row hidden-xs">
            <div class="col-sm-12">
                <h5 class="title">@ViewModel.ProfileTopWishes</h5>
            </div>
            @foreach (GratisForGratis.Models.AnnuncioViewModel annuncio in Model.ListaDesideri.Take(4))
            {
                @Html.Partial("PartialPages/_AnnuncioSmall", annuncio)
            }
        </div>
    }
</section>

