@model List<GratisForGratis.Models.ViewModels.SpedizioneViewModel>
@using GratisForGratis.Models.ViewModels
@{
    ViewBag.Title = "SPEDIZIONI IN ATTESA...";
}
@Styles.Render("~/Content/homePartner.css")
<section id="head">
    <div class="content">
        <h1 id="title">@ViewBag.Title</h1>
    </div>
</section>
<section id="partners">
    @foreach (SpedizioneViewModel spedizione in Model)
    {
        using (Html.BeginForm("SpedizioniInAttesa", "PortaleWeb", FormMethod.Post,
            new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("Id", spedizione.Id)
            <div class="col-md-1">
                @spedizione.Id
            </div>
            <div class="col-md-3">
                @spedizione.NomeAnnuncio
            </div>
            <div class="col-md-1">
                @spedizione.Prezzo
            </div>
            <div class="col-md-3">
                @spedizione.Destinatario
            </div>
            <div class="col-md-3">
                <input type="file" name="LDV" />
            </div>
            <div class="col-md-1">
                <input type="submit" value="Save" />
            </div>
        }
    }
</section>