@model GratisForGratis.Models.ViewModels.FeedbackViewModel
@{
    ViewBag.Title = Resources.Language.TitleFeedback + " " + Model.Nome;
}

<section id="head">
    <div class="content">
        <h1 id="title">@ViewBag.Title</h1>
    </div>
</section>
<section id="loginForm">
    @using (Html.BeginForm("", "Feedback", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="form-row">
            <div class="form-group col-md-12">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.AcquistoID)
                <h2 id="description">@Language.DescriptionFeedback</h2>
                <hr />
                @Html.ValidationMessage("Errore", new { @class = "text-danger" })
                @if (TempData["salvato"] != null && (bool)TempData["salvato"])
                {
                    <h4 class="message">@Language.RegistrazioneOK</h4>
                }

                @Html.HiddenFor(m => m.Tipo)
            </div>
        </div>
        <div class="form-row justify-content-center align-items-center">
            <div class="form-group col-md-1">
                @Html.LabelFor(m => m.Voto, new { @class = "control-label required" })
                @Html.TextBoxFor(m => m.Voto, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Voto, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-row justify-content-center align-items-center">
            <div class="form-group col-md-5">
                @Html.LabelFor(m => m.Opinione, new { @class = "control-label required" })
                @Html.TextAreaFor(m => m.Opinione, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Opinione, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-row justify-content-center align-items-center">
            <div class="form-group col-md-12 footer">
                <input type="submit" class="btn btn-success" value="@Resources.Language.Save" />
            </div>
        </div>
    }
</section>