@model GratisForGratis.Models.ViewModels.ChatIndexViewModel

@{
    ViewBag.Title = string.Format(MetaTag.TitleChatIndex);
}

@section Styles{
    @Styles.Render("~/Content/chat.css")
}

<section id="chatIndex">
    <section>
        @if (Model.listaChat.Count <= 0)
        {
            <div>@ViewModel.ChatEmpty</div>
        }
        else
        {
            foreach (GratisForGratis.Models.PersonaModel utente in Model.listaChat)
            {
                <div class="box">
                    <div class="phote">
                        @if (utente.Foto != null && utente.Foto.Count > 0)
                        {
                            <img src="@("/Uploads/Images/" + utente.Persona.TOKEN + "/" + utente.Foto[0].DATA_INSERIMENTO.Year + "/Normal/" + utente.Foto[0].NOME)" alt="Profilo @(utente.Persona.NOME + " " + utente.Persona.COGNOME)" />
                        }
                        else
                        {
                            <img src="~/Images/icone/profile.svg" alt="Profilo" style="max-height:250px;">
                        }
                    </div>
                    @Html.ActionLink(utente.Persona.NOME + " " + utente.Persona.COGNOME, "Utente", "Chat", new { token = utente.Persona.TOKEN }, null)
                </div>
            }
        }
    </section>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/chat.js")
}
