@model GratisForGratis.Models.ViewModels.ChatUtenteViewModel

@{
    ViewBag.Title = string.Format(MetaTag.TitleChatUser, Model.Utente.Persona.NOME + " " + Model.Utente.Persona.COGNOME);
}

@section Styles{
    @Styles.Render("~/Content/chat.css")
}

<section id="chatUtente">
    <div class="row">
        <div class="col-sm-4">
            <div>
                <h2>@(Model.Utente.Persona.NOME + " " + Model.Utente.Persona.COGNOME)</h2>
                <div id="boxFotoProfilo">
                    @Html.Partial("PartialPages/_GalleriaFotoProfilo", Model.Utente)
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="boxMessaggi">
                <div class="content">
                    @Html.Partial("PartialPages/_ListaChat", Model.listaChat)
                </div>
            </div>
            <div id="boxNuovoMessaggio">
                @Html.Partial("PartialPages/_FormMessaggio", new GratisForGratis.Models.ViewModels.ChatViewModel(Model.Utente.Persona.ID))
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/chat.js")
}

