@using GratisForGratis.Models
@model AnnuncioViewModel

@{
    ViewBag.Title = MetaTag.TitleAdPublished;
}

@Styles.Render("~/Content/trattative.css")
<section id="purchases">
    <h2>@ViewBag.Title</h2>
    <div id="grid" class="content">
        @Html.Partial("PartialPages/_AnnuncioMedium", Model)
    </div>
    <div class="content">
        <div class="row">
            <div class="col-md-8" style="margin:0px auto;">
                <h3>@TempData["FBINFO"]</h3>
                <!-- Load Facebook SDK for JavaScript -->
                <div id="fb-root"></div>
                @if (Model.DataPubblicazioneFacebook == null)
                {
                    <!-- Your share button code -->
                    <div id="shareBtn"
                         class="btn btn-primary"
                         data-quote="@((Session["utente"] as PersonaModel).NomeVisibile.ToUpper() + " REGALA " + Model.Nome)"
                         data-href="https://www.gratisforgratis.com/baratto/@GratisForGratis.Models.Utility.UrlEncode(Model.Nome)/@HttpUtility.UrlEncode(Model.Token)"
                         data-token="@Model.Token"
                         data-layout="button"
                         data-size="large">
                        @Button.PublishShareFB
                    </div>
                    <p style="color:green;">
                        @ViewModel.PublishSocial
                    </p>
                }
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/Scripts/offerteRicevute.js")
    @Scripts.Render("~/Scripts/facebook.js")
}