@using GratisForGratis.App_GlobalResources
@using GratisForGratis.Models.ExtensionMethods
@Styles.Render("~/Content/Index.css")
@Styles.Render("~/Content/saldoPunti.css")

<section id="menuUser">
    <h2 id="title">Come guadagnare?! =)</h2>
    <div class="points">
        <h3>@Language.CurrentBalance: <a class="gpoints">@(((GratisForGratis.Models.PersonaModel)Session["utente"]).Credito.Where(m => m.STATO == (int)GratisForGratis.Models.StatoCredito.ASSEGNATO).Sum(m => m.PUNTI).ToHappyCoin())</a></h3>
        <h3>@Language.Points @Language.InSuspense: <a class="gpointsSuspense">@(((GratisForGratis.Models.PersonaModel)Session["utente"]).Credito.Where(m => m.STATO == (int)GratisForGratis.Models.StatoCredito.SOSPESO).Sum(m => m.PUNTI).ToHappyCoin())</a></h3>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h3>@Html.ActionLink(ViewModel.HomeUserJoinSocial, "Impostazioni", "Utente", null, new { @class = "link" })</h3>
            <img class="img-thumbnail img-circle" src="~/Images/stickers/25.png" alt="@ViewModel.HomeUserJoinSocial" />
            <p>(@ViewModel.HomeUserJoinSocialInfo)</p>
        </div>
        <div class="col-md-3">
            <h3>@Html.ActionLink(ViewModel.HomeUserPublishGood, "", "Pubblica", null, new { @class = "link" })</h3>
            <img class="img-thumbnail img-circle" src="~/Images/stickers/3.png" alt="@ViewModel.HomeUserPublishGood" />
            <p>(@ViewModel.HomeUserPublishGoodInfo)</p>
        </div>
        <div class="col-md-3">
            <h3>@Html.ActionLink(ViewModel.HomeUserPublishService, "", "Pubblica", null, new { @class = "link" })</h3>
            <img class="img-thumbnail img-circle" src="~/Images/stickers/10.png" alt="@ViewModel.HomeUserPublishService" />
            <p>(@ViewModel.HomeUserPublishServiceInfo)</p>
        </div>
        <div class="col-md-3">
            <h3><a href="javascript:void(0);" onclick="$('#reporting').click();">@ViewModel.HomeUserSendBug</a></h3>
            <img class="img-thumbnail img-circle" src="~/Images/stickers/28.png" alt="@ViewModel.HomeUserSendBug" />
            <p>(@ViewModel.HomeUserSendBugInfo)</p>
        </div>
        <div class="col-md-3">
            <h3>@Html.ActionLink(ViewModel.HomeUserFullAd, "", "Pubblica", null, new { @class = "link" })</h3>
            <img class="img-thumbnail img-circle" src="~/Images/stickers/29.png" alt="@ViewModel.HomeUserFullAd" />
            <p>(@ViewModel.HomeUserFullAdInfo)</p>
        </div>
        <div class="col-md-3">
            <h3>@Html.ActionLink(ViewModel.HomeUserFeedback, "Concluse", "Vendite", null, new { @class = "link" })</h3>
            <img class="img-thumbnail img-circle" src="~/Images/stickers/21.png" alt="@ViewModel.HomeUserFeedback" />
            <p>(@ViewModel.HomeUserFeedbackInfo)</p>
        </div>
        @*<div class="btn btn-primary confirm">
            @Html.ActionLink(Language.ConfirmPurchase, "Index", "Acquisti", null, new { @class = "link" })
        </div>
        <div class="btn btn-primary onsale">
            @Html.ActionLink(Language.OnSale, "Ricevute", "Offerte", null, new { @class = "link" })
        </div>
        <div class="btn btn-primary publicationObject">
            @Html.ActionLink(Language.Public, "", "Pubblica", null, new { @class = "link" })
        </div>
        <div class="btn btn-primary settings">
            @Html.ActionLink(Language.Settings, "Impostazioni", "Utente", null, new { @class = "link" })
        </div>*@
    </div>
</section>