@using GratisForGratis.App_GlobalResources
@using GratisForGratis.Models.ExtensionMethods
@Styles.Render("~/Content/saldoPunti.css")

    <section id="menuUser">
        <h2 id="title">Come guadagnare?! =)</h2>
        <div class="points">
            <h3>@Language.CurrentBalance: <a class="gpoints">@(((GratisForGratis.Models.PersonaModel)Session["utente"]).Credito.Where(m => m.STATO == (int)GratisForGratis.Models.StatoCredito.ASSEGNATO).Sum(m => m.PUNTI).ToHappyCoin())</a></h3>
            <h3>@Language.Points @Language.InSuspense: <a class="gpointsSuspense">@(((GratisForGratis.Models.PersonaModel)Session["utente"]).Credito.Where(m => m.STATO == (int)GratisForGratis.Models.StatoCredito.SOSPESO).Sum(m => m.PUNTI).ToHappyCoin())</a></h3>
        </div>
        <div id="azioni" class="card-deck">
            <div class="row">
                <div class="col-sm-3">
                    <div id="condividi" class="card">
                        <img class="card-img-top" src="~/Images/sezioni/condividi.jpg" alt="@ViewModel.HomeUserJoinSocial">
                        <div class="card-body">
                            <h5 class="card-title">@Html.ActionLink(ViewModel.HomeUserJoinSocial, "Impostazioni", "Utente", null, new { @class = "link" })</h5>
                            <p class="card-text">@ViewModel.HomeUserJoinSocialInfo</p>
                            @Html.ActionLink("Vai", "Impostazioni", "Utente", null, new { @class = "btn btn-primary" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div id="pubblicabeni" class="card">
                        <img class="card-img-top" src="~/Images/sezioni/pubblica.jpg" alt="@ViewModel.HomeUserPublishGood">
                        <div class="card-body">
                            <h5 class="card-title">@Html.ActionLink(ViewModel.HomeUserPublishGood, "", "Pubblica", null, new { @class = "link" })</h5>
                            <p class="card-text">@ViewModel.HomeUserPublishGoodInfo</p>
                            @Html.ActionLink("Vai", "", "Pubblica", null, new { @class = "btn btn-primary" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div id="pubblicaservizi" class="card">
                        <img class="card-img-top" src="~/Images/sezioni/servizi.jpg" alt="@ViewModel.HomeUserPublishService">
                        <div class="card-body">
                            <h5 class="card-title">@Html.ActionLink(ViewModel.HomeUserPublishService, "", "Pubblica", null, new { @class = "link" })</h5>
                            <p class="card-text">@ViewModel.HomeUserPublishServiceInfo</p>
                            @Html.ActionLink("Vai", "", "Pubblica", null, new { @class = "btn btn-primary" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div id="assistenza" class="card">
                        <img class="card-img-top" src="~/Images/sezioni/segnalazione.jpg" alt="@ViewModel.HomeUserSendBug">
                        <div class="card-body">
                            <h5 class="card-title">@Html.ActionLink(ViewModel.HomeUserSendBug, "Contatti", "Home", null, new { @class = "link" })</h5>
                            <p class="card-text">@ViewModel.HomeUserSendBugInfo</p>
                            @Html.ActionLink("Vai", "Contatti", "Home", null, new { @class = "btn btn-primary" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div id="annuncicompleti" class="card">
                        <img class="card-img-top" src="~/Images/sezioni/pieno.jpg" alt="@ViewModel.HomeUserFullAd">
                        <div class="card-body">
                            <h5 class="card-title">@Html.ActionLink(ViewModel.HomeUserFullAd, "", "Pubblica", null, new { @class = "link" })</h5>
                            <p class="card-text">@ViewModel.HomeUserFullAdInfo</p>
                            @Html.ActionLink("Vai", "", "Pubblica", null, new { @class = "btn btn-primary" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div id="feedback" class="card">
                        <img class="card-img-top" src="~/Images/sezioni/feedback.jpg" alt="@ViewModel.HomeUserFeedback">
                        <div class="card-body">
                            <h5 class="card-title">@Html.ActionLink(ViewModel.HomeUserFeedback, "Concluse", "Vendite", null, new { @class = "link" })</h5>
                            <p class="card-text">@ViewModel.HomeUserFeedbackInfo</p>
                            @Html.ActionLink("Vai", "Concluse", "Vendite", null, new { @class = "btn btn-primary" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>