@model List<GratisForGratis.Models.UtenteNotificaViewModel>
@Styles.Render("~/Content/notifiche.css")

<section id="news">
    <div id="grid" class="content">
        @foreach (GratisForGratis.Models.UtenteNotificaViewModel news in Model)
        {
            <div id="@HttpUtility.UrlEncode(news.Id.ToString())" class="news">
                <div class="detail">
                    <div class="cella noMandatory">
                    @{
                        switch (news.Tipo)
                        {
                            case GratisForGratis.Models.TipoNotifica.Annuncio:
                                if (news.AnnuncioNotifica != null)
                                {
                                    WriteLiteral(Html.Raw(string.Format(news.Messaggio, news.AnnuncioNotifica.Annuncio.Nome, news.AnnuncioNotifica.Annuncio.DataInserimento)));
                                }
                                break;
                        }
                    }
                    </div>
                </div>
                <div class="icone">
                    <a href="@Url.Action("", "Notifica", new { id = news.Id })" title="@Language.NewsOpen"><img class="ico" src="~/Images/icone/open.svg" alt="@Language.NewsOpen" /></a>
                    <a href="javascript:void(0);" onclick="deleteNews(this);" title="@Language.Delete"><img class="ico" src="~/Images/icone/delete.svg" alt="@Language.Delete" /></a>
                </div>
            </div>

        }
                        @Html.Partial("PartialPages/_ElencoPagine", new GratisForGratis.Models.ElencoPagine((int)ViewData["TotalePagine"],
            (int)ViewData["Pagina"], (((int)ViewData["Pagina"] - 5) < 1 ? 1 : (int)ViewData["Pagina"] - 5), "Utente", "SaldoPunti"))
    </div>
</section>