@model GratisForGratis.Models.UtenteProfiloViewModel

@{
    ViewBag.Title = string.Format(MetaTag.TitleProfile, Model.Nome + " " + Model.Cognome);
}

@section Styles{
    @Styles.Render("~/Content/trattative.css")
    @Styles.Render("~/Content/profilo.css")
}

<section id="profilo" class="content">
    <h1 id="title">@ViewBag.Title</h1>
    <div class="row">
        <div id="lnkChat" class="col-md-2 btn btn-primary">
            <i class="far fa-comments"></i>
            @Html.ActionLink(ViewModel.ProfileSendMessage, "Utente", "Chat", new { token = Model.Token }, new { @class = "" })
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div>
                @if (Model.Foto.Count > 0)
                {
                    <img class="imgProfile" src="@("/Uploads/Images/" + Model.Token + "/" + Model.Foto[0].DATA_INSERIMENTO.Year + "/Normal/" + Model.Foto[0].NOME)" alt="@(Model.Foto[0].NOME)">
                }
                else
                {
                    <img class="imgProfile" src="/Images/stickers/4.png" alt="Immagine profilo">
                }
            </div>
        </div>
        <div class="col-sm-3">
            <header>
                @Html.LabelFor(m => m.Nome, new { @class = "control-label" })
            </header>
            <div>
                @Model.Nome
            </div>
        </div>
        @if (!string.IsNullOrWhiteSpace(Model.Cognome))
        {
            <div class="col-sm-3">
                <header>
                    @Html.LabelFor(m => m.Cognome, new { @class = "control-label" })
                </header>
                <div>
                    @Model.Cognome
                </div>
            </div>
        }
    </div>
    @if (Model.listaVendite.Count > 0)
    {
        <div id="topVendite" class="row hidden-xs">
            <div class="col-sm-12">
                <h5 class="title">@ViewModel.ProfileLastSell</h5>
            </div>
            @foreach (GratisForGratis.Models.AnnuncioViewModel annuncio in Model.listaVendite.Take(4))
            {
                @Html.Partial("PartialPages/_AnnuncioSmall", annuncio)
            }
        </div>
    }
    @if (Model.listaAcquisti.Count > 0)
    {
        <div id="topAcquisti" class="row hidden-xs">
            <div class="col-sm-12">
                <h5 class="title">@ViewModel.ProfileTopPurchases</h5>
            </div>
            @foreach (GratisForGratis.Models.AnnuncioViewModel annuncio in Model.listaAcquisti.Take(4))
            {
                @Html.Partial("PartialPages/_AnnuncioSmall", annuncio)
            }
        </div>
    }
    @if (Model.listaDesideri.Count > 0)
    {
        <div id="topDesideri" class="row hidden-xs">
            <div class="col-sm-12">
                <h5 class="title">@ViewModel.ProfileTopWishes</h5>
            </div>
            @foreach (GratisForGratis.Models.AnnuncioViewModel annuncio in Model.listaDesideri.Take(4))
            {
                @Html.Partial("PartialPages/_AnnuncioSmall", annuncio)
            }
        </div>
    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

