@model GratisForGratis.Models.UtenteProfiloViewModel

@{
    ViewBag.Title = string.Format(MetaTag.TitleProfile, (Session["utente"] as GratisForGratis.Models.PersonaModel).Persona.NOME + " " + (Session["utente"] as GratisForGratis.Models.PersonaModel).Persona.COGNOME);
}

@section Styles{
    @Styles.Render("~/Content/trattative.css")
    @Styles.Render("~/Content/profilo.css")
}

<section id="head">
    <div class="content">
        <h1 id="title">@ViewBag.Title</h1>
    </div>
</section>
<section id="profilo">
    <section>
        <div class="col-md-10">
            @Html.ActionLink("Invia messaggio", "Utente", "Chat", new { token = Model.Token }, new { })
        </div>
    </section>
    <section class="content">
        <div class="col-md-2">
            @Html.LabelFor(m => m.Email, new { @class = "control-label" })
            <div>
                @Model.Email
            </div>
        </div>
        <div class="col-md-2">
            @Html.LabelFor(m => m.Nome, new { @class = "control-label" })
            <div>
                @Model.Nome
            </div>
        </div>
        <div class="col-md-2">
            @Html.LabelFor(m => m.Cognome, new { @class = "control-label" })
            <div>
                @Model.Cognome
            </div>
        </div>
        <div class="col-md-2">
            @Html.LabelFor(m => m.Citta, new { @class = "control-label" })
            <div>
                @Model.Citta
            </div>
        </div>
        <div class="col-md-2">
            @Html.LabelFor(m => m.Indirizzo, new { @class = "control-label" })
            <div>
                @Model.Indirizzo
            </div>
        </div>
        <div class="col-md-2">
            @Html.LabelFor(m => m.Civico, new { @class = "control-label" })
            <div>
                @Model.Civico
            </div>
        </div>
        <div class="col-md-2">
            @Html.LabelFor(m => m.Telefono, new { @class = "control-label" })
            <div>
                @Model.Telefono
            </div>
        </div>
        <div class="col-md-2">
            @Html.LabelFor(m => m.CittaSpedizione, new { @class = "control-label" })
            <div>
                @Model.CittaSpedizione
            </div>
        </div>
        <div class="col-md-2">
            @Html.LabelFor(m => m.IndirizzoSpedizione, new { @class = "control-label" })
            <div>
                @Model.IndirizzoSpedizione
            </div>
        </div>
        <div class="col-md-2">
            @Html.LabelFor(m => m.CivicoSpedizione, new { @class = "control-label" })
            <div>
                @Model.CivicoSpedizione
            </div>
        </div>
        @if (Model.listaAcquisti.Count > 0)
        {
            <div id="topAcquisti" class="col-md-12">
                <h2>Top acquisti</h2>
                @foreach (GratisForGratis.Models.AnnuncioViewModel annuncio in Model.listaAcquisti)
                {
                    @Html.Partial("PartialPages/_Annuncio", annuncio)
                }
            </div>
        }
        @if (Model.listaDesideri.Count > 0)
        {
            <div id="topDesideri" class="col-md-12">
                <h2>Top desideri</h2>
                @foreach (GratisForGratis.Models.AnnuncioViewModel annuncio in Model.listaDesideri)
                {
                    @Html.Partial("PartialPages/_Annuncio", annuncio)
                }
            </div>
        }
    </section>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

