@model GratisForGratis.Models.ListaVendite

<div class="linkPubblicaCategoria">
    <a href="/Pubblica" title="@Language.LnkGoToPublic"><i class="far fa-plus-square"></i> @Language.LnkGoToPublic</a>
</div>
@Html.Partial("PartialPages/_Adv")
@foreach (GratisForGratis.Models.AnnuncioViewModel vendita in Model.List)
{
    if (vendita.TipoAcquisto == GratisForGratis.Models.TipoAcquisto.Oggetto)
    {
        @Html.Partial("PartialPages/_Oggetto", vendita)
    }
    else
    {
        @Html.Partial("PartialPages/_Servizio", vendita)
    }
}
@Html.Partial("PartialPages/_AnnuncioNotFound", Model)
@Html.Partial("PartialPages/_ElencoPagineRicerca", new GratisForGratis.Models.ElencoPagineRicerca(Model.PageCount,
    Model.PageNumber, ((Model.PageNumber - 5) < 1 ? 1 : Model.PageNumber - 5),
    "categoria",
    "",
    Response.Cookies["ricerca"]["IDCategoria"]))
