@model GratisForGratis.Models.RicercaLibroViewModel

@Html.Partial("PartialPages/_FiltroOggetto", Model)

<div class="form-group col-md-2 autore">
    @Html.LabelFor(m => m.cerca_autore, new { @class = "control-label" })
    @Html.TextBoxFor(m => m.cerca_autore, new { @class = "form-control", data_autocomplete_url = "/Home/FindAutore", data_autocomplete_id = "cerca_autoreID", placeholder = Language.Author })
    @Html.HiddenFor(m => m.cerca_autoreID)
    @Html.ValidationMessageFor(m => m.cerca_autoreID, "", new { @class = "text-danger" })
</div>
<div class="row justify-content-center align-items-center">
    <a class="btn btn-primary" href="javascript:void(0);" onclick="ricercaAvanzata('FiltroLibro');">@Language.Filter</a>
</div>