@model GratisForGratis.Models.RicercaVestitoViewModel

@Html.Partial("PartialPages/_FiltroOggetto", Model)

<div class="form-group col-md-2 taglia">
    @Html.LabelFor(m => m.cerca_taglia, new { @class = "control-label" })
    @Html.TextBoxFor(m => m.cerca_taglia, new { @class = "form-control", placeholder = Language.Size })
    @Html.ValidationMessageFor(m => m.cerca_taglia, "", new { @class = "text-danger" })
</div>
<div class="row justify-content-center align-items-center">
    <a class="btn btn-primary" href="javascript:void(0);" onclick="ricercaAvanzata('FiltroVestito');">@Language.Filter</a>
</div>