@model GratisForGratis.Models.RicercaVideoViewModel

@Html.Partial("PartialPages/_FiltroOggetto", Model)

<div class="form-group col-md-2 formato">
    @Html.LabelFor(m => m.cerca_formato, new { @class = "control-label" })
    @Html.TextBoxFor(m => m.cerca_formato, new { @class = "form-control", data_autocomplete_url = "/Home/FindFormato", data_autocomplete_id = "cerca_formatoID", placeholder = Language.Format })
    @Html.HiddenFor(m => m.cerca_formatoID)
    @Html.ValidationMessageFor(m => m.cerca_formatoID, "", new { @class = "text-danger" })
</div>
<div class="form-group col-md-2 regista">
    @Html.LabelFor(m => m.cerca_regista, new { @class = "control-label" })
    @Html.TextBoxFor(m => m.cerca_regista, new { @class = "form-control", data_autocomplete_url = "/Home/FindRegista", data_autocomplete_id = "cerca_registaID", placeholder = Language.Director })
    @Html.HiddenFor(m => m.cerca_registaID)
    @Html.ValidationMessageFor(m => m.cerca_registaID, "", new { @class = "text-danger" })
</div>
<div class="form-group col-md-12 justify-content-center align-items-center">
    <a class="btn btn-primary" href="javascript:void(0);" onclick="ricercaAvanzata('FiltroVideo');">@Language.Filter</a>
</div>